<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>
            .boxStyle_2 .boxImg {
                 margin-bottom: 0px !important;
            }

            .display_none {
                display: none !important;
            }

            /* 품목별 원단 입력 블록 간격 */
            .fabric-form {
                margin-bottom: 20px; /* 원하는 간격으로 조정 가능 */
            }

            /* 마지막 원단 블록은 여백 제거 */
            .fabric-form:last-child {
                margin-bottom: 0;
            }

            input:read-only {
                background-color: #dddddd !important;
            }
        </style>
        <!-- 공통 css-->
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">
        <link rel="stylesheet" th:href="@{/css/page.css}">

        <form id="dataForm">
            <input type="hidden" name="reservationId" th:value="${counseling.reservationId}">
            <div class="section_wrap fabric-4">
                <h2 class="title">고객정보</h2>
                <div class="boxStyle_2">
                    <div class="line">
                        <div class="box other_box">
                            <h2 class="name">고객명</h2>
                            <div class="value">
                                <input type="text" th:value="${counseling.name}" readonly>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">연락처</h2>
                            <div class="value">
                                <input type="text" th:value="${@stringParser.addDashToMobileNumber(counseling.mobile)}" readonly>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">작업방식</h2>
                            <div class="value" style="margin-left: 10px;">
                                <th:block th:if="${counseling.workType == 13}">
                                    <input type="text" value="직봉" readonly>
                                </th:block>
                                <th:block th:if="${counseling.workType == 14}">
                                    <input type="text" value="초가봉" readonly>
                                </th:block>
                                <th:block th:if="${counseling.workType == 15}">
                                    <input type="text" value="중가봉" readonly>
                                </th:block>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">라인</h2>
                            <div class="value">
                                <th:block th:if="${counseling.factory == 1}">
                                    <input type="text" value="White" readonly>
                                </th:block>
                                <th:block th:if="${counseling.factory == 2}">
                                    <input type="text" value="Black" readonly>
                                </th:block>
                                <th:block th:if="${counseling.factory == 3}">
                                    <input type="text" value="Etc" readonly>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section_wrap border-0 fabric-4">
                <h2 class="title">품목</h2>
                <div class="boxStyle_2">
                    <div class="boxImg-wrap">
                        <div class="boxImg">
                            <span class="jacket itemType" data-type="jacket" th:classappend="${counseling.jacket ? 'on' : ''}"></span>
                            <input type="hidden" id="jacket" name="jacket" th:value="${counseling.jacket}">
                        </div>
                        <div class="boxImg">
                            <span class="pants itemType" data-type="pants" th:classappend="${counseling.pants ? 'on' : ''}"></span>
                            <input type="hidden" id="pants" name="pants" th:value="${counseling.pants}">
                        </div>
                        <div class="boxImg">
                            <span class="vest itemType" data-type="vest" th:classappend="${counseling.vest ? 'on' : ''}"></span>
                            <input type="hidden" id="vest" name="vest" th:value="${counseling.vest}">
                        </div>
                        <div class="boxImg">
                            <span class="coats itemType" data-type="coat" th:classappend="${counseling.coat ? 'on' : ''}"></span>
                            <input type="hidden" id="coat" name="coat" th:value="${counseling.coat}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="section_wrap fabric-4" id="fabricGuide">
                <h2 class="title">원단</h2>
                <div>
                    <div class="boxStyle_2">
                        <div class="line">
                            <div class="box other_box">
                                <h2 class="guide_text">※품목 선택 시 해당 품목의 원단 정보를 입력할 수 있습니다※</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_wrap fabric-4" id="fabricForms">
                <h2 class="title">원단 및 주문수량</h2>

                <div class="boxStyle_2 fabric-form" data-type="jacket">
                    <div class="line">
                        <div class="box other_box">
                            <div class="boxImg">
                                <span class="jacket"></span>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단회사</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricCompanyJacket" name="fabricCompanyJacket" maxlength="10" th:value="${counseling.fabricCompanyJacket}" readonly>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단품번</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricPatternJacket" name="fabricPatternJacket" maxlength="15" th:value="${counseling.fabricPatternJacket}" readonly>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단색상</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricColorJacket" name="fabricColorJacket" maxlength="10" th:value="${counseling.fabricColorJacket}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxStyle_2 fabric-form" data-type="pants">
                    <div class="line">
                        <div class="box other_box">
                            <div class="boxImg">
                                <span class="pants"></span>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단회사</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricCompanyPants" name="fabricCompanyPants" maxlength="10" th:value="${counseling.fabricCompanyPants}" readonly>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단품번</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricPatternPants" name="fabricPatternPants" maxlength="15" th:value="${counseling.fabricPatternPants}" readonly>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단색상</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricColorPants" name="fabricColorPants" maxlength="10" th:value="${counseling.fabricColorPants}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxStyle_2 fabric-form" data-type="vest">
                    <div class="line">
                        <div class="box other_box">
                            <div class="boxImg">
                                <span class="vest"></span>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단회사</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricCompanyVest" name="fabricCompanyVest" maxlength="10" th:value="${counseling.fabricCompanyVest}" readonly>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단품번</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricPatternVest" name="fabricPatternVest" maxlength="15" th:value="${counseling.fabricPatternVest}" readonly>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단색상</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricColorVest" name="fabricColorVest" maxlength="10" th:value="${counseling.fabricColorVest}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="boxStyle_2 fabric-form" data-type="coat">
                    <div class="line">
                        <div class="box other_box">
                            <div class="boxImg">
                                <span class="coats"></span>
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단회사</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricCompanyCoat" name="fabricCompanyCoat" maxlength="10" th:value="${counseling.fabricCompanyCoat}">
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단품번</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricPatternCoat" name="fabricPatternCoat" maxlength="15" th:value="${counseling.fabricPatternCoat}">
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">원단색상</h2>
                            <div class="value">
                                <input type="text" class="text" id="fabricColorCoat" name="fabricColorCoat" maxlength="10" th:value="${counseling.fabricColorCoat}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </th:block>
</th:block>
</html>

<script>
    nowParts = 'fabric';

    const TYPES = ['jacket', 'pants', 'vest', 'coat'];

    const cap = s => s.charAt(0).toUpperCase() + s.slice(1);
    const SMALLS = ['jacket','pants','vest'];

    $(document).ready(function () {
        updateFabricForms();
        coatGuard();
        updateAllSameFabricState();

        // ✅ DB에서 true로 체크되어 온 경우 → 리더 자동 선정 및 동기화 수행
        if ($('#allSameFabric').is(':checked')) {
            ALL_SAME_LEADER = getLeader();
            if (ALL_SAME_LEADER) {
                bindLeaderSync(ALL_SAME_LEADER, true);
                lockTargets(ALL_SAME_LEADER, true);
                syncFromLeader(ALL_SAME_LEADER);
            }
        }
    });
    // 현재 선택 상태에 맞춰 원단 폼/안내 섹션 표시 업데이트
    function updateFabricForms() {
        let selectedCount = 0;

        TYPES.forEach(function (t) {
            const selected = $(`.${t}`).hasClass('on') ||
                String($(`#${t}`).val()).toLowerCase() === 'true';

            // 품목별 블록 토글
            $(`.fabric-form[data-type="${t}"]`).toggleClass('display_none', !selected);

            if (selected) selectedCount++;
        });

        // ▶ 섹션 단위 토글 (빈 영역 제거 포인트)
        const anySelected = selectedCount > 0;
        $('#fabricForms').toggleClass('display_none', !anySelected);
        $('#fabricGuide').toggleClass('display_none', anySelected);
    }

    function isSelected(type){
        return $(`.${type}`).hasClass('on') || String($(`#${type}`).val()).toLowerCase() === 'true';
    }

    function getSelectedSmalls(){
        return SMALLS.filter(isSelected);
    }

    // 리더 우선순위: 상의 > 하의 > 조끼
    function getLeader(){
        if (isSelected('jacket')) return 'jacket';
        if (isSelected('pants'))  return 'pants';
        if (isSelected('vest'))   return 'vest';
        return null;
    }

    // 리더 제외 선택된 대상(코트 제외)
    function buildTargets(leader){
        return getSelectedSmalls().filter(t => t !== leader).map(cap); // 'Pants', 'Vest' 형태로 반환
    }

    // leader의 값을 targets로 복사
    function syncFromLeader(leader){
        if (!leader) return;
        const L = cap(leader);
        const company = $(`#fabricCompany${L}`).val();
        const pattern = $(`#fabricPattern${L}`).val();
        const color   = $(`#fabricColor${L}`).val();

        buildTargets(leader).forEach(T => {
            $(`#fabricCompany${T}`).val(company);
            $(`#fabricPattern${T}`).val(pattern);
            $(`#fabricColor${T}`).val(color);
        });
    }

    // 입력 잠금/해제 (리더 제외)
    function lockTargets(leader, locked){
        buildTargets(leader).forEach(T => {
            $(`#fabricCompany${T}, #fabricPattern${T}, #fabricColor${T}`).prop('readonly', locked);
        });
    }

    // 리더 입력 변화에 대한 바인딩 on/off
    let ALL_SAME_LEADER = null;
    function bindLeaderSync(leader, bind){
        const L = cap(leader);
        const sel = `#fabricCompany${L}, #fabricPattern${L}, #fabricColor${L}`;
        $(sel).off('input.allSame');
        if (bind) $(sel).on('input.allSame', function(){ syncFromLeader(leader); });
    }

    // “모두 동일” 버튼 활성 조건: 코트 미선택 && (상의/하의/조끼 중 2개 이상 선택)
    function updateAllSameFabricState() {
        const coatOn = $('.coats').hasClass('on') || String($('#coat').val()).toLowerCase()==='true';
        const count = getSelectedSmalls().length;
        const canUse = !coatOn && count >= 2;

        if (!canUse) {
            $('#allSameFabric').prop('checked', false).prop('disabled', true);
            if (ALL_SAME_LEADER){
                bindLeaderSync(ALL_SAME_LEADER, false);
                lockTargets(ALL_SAME_LEADER, false);
                ALL_SAME_LEADER = null;
            }
        } else {
            $('#allSameFabric').prop('disabled', false);
        }
    }

    // 코트 단독 규칙
    function coatGuard() {
        const coatOn = $('.coats').hasClass('on') || String($('#coat').val()).toLowerCase() === 'true';
        if (coatOn) {
            // 상/하/조 해제
            $('.jacket, .pants, .vest').removeClass('on');
            $('#jacket, #pants, #vest').val(false);

            // 모두 동일 해제/잠금
            $('#allSameFabric').prop('checked', false).prop('disabled', true);
            if (ALL_SAME_LEADER){
                bindLeaderSync(ALL_SAME_LEADER, false);
                lockTargets(ALL_SAME_LEADER, false);
                ALL_SAME_LEADER = null;
            }
        } else {
            $('#allSameFabric').prop('disabled', false);
        }
    }

    $(document).on('change', '#allSameFabric', function () {
        const on = $(this).is(':checked');

        if (on) {
            updateAllSameFabricState();
            if ($(this).is(':disabled')) return;

            // 리더 선정 (상의 없으면 하의, 그것도 없으면 조끼)
            ALL_SAME_LEADER = getLeader();
            if (!ALL_SAME_LEADER) { $(this).prop('checked', false); return; }

            // 즉시 동기화 + 리더 바인딩 + 타겟 잠금
            syncFromLeader(ALL_SAME_LEADER);
            bindLeaderSync(ALL_SAME_LEADER, true);
            lockTargets(ALL_SAME_LEADER, true);

        } else {
            if (ALL_SAME_LEADER){
                bindLeaderSync(ALL_SAME_LEADER, false);
                lockTargets(ALL_SAME_LEADER, false);
                ALL_SAME_LEADER = null;
            }
        }
    });

    window.addEventListener("beforeunload", function (e) {
        if (nextUrl != '/counseling/fabric-item'
            && nextUrl != '/counseling/design'
            && nextUrl != '/counseling/size'
            && nextUrl != '/counseling/complete'
        ) {
            callLazyService(
                "POST"
                , `/counseling/fabric/save`
                , JSON.stringify(convertFormToJSON($('#dataForm')))
                , function (response) {

                }
            );
        }
    });
</script>
