<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 공통 css-->
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">

        <!-- 개별 css -->
        <link rel="stylesheet" th:href="@{/css/design.css}">

        <div class="section_wrap">
            <div class="design_choice_wrap">

                <ul class="designTabs flex">
                    <li class="tab-link current" data-tab="tab-1">Jacket</li>
                    <li class="tab-link" data-tab="tab-2">Pants</li>
                    <li class="tab-link" data-tab="tab-3">Vest</li>
                    <li class="tab-link" data-tab="tab-4">Coat</li>
                </ul>

                <div id="tab-1" class="design-tab-content current">
                    <!-- 2차 탭 -->
                    <ul class="sub-tabs">
                        <li class="sub-tab-link current" data-subtab="subtab-1-1">Button Style</li>
                        <li class="sub-tab-link" data-subtab="subtab-1-2">Front Pocket</li>
                        <li class="sub-tab-link" data-subtab="subtab-1-3">Lapel Design</li>
                        <li class="sub-tab-link" data-subtab="subtab-1-4">Vent</li>
                        <li class="sub-tab-link" data-subtab="subtab-1-5">Chest Pocket</li>
                        <li class="sub-tab-link" data-subtab="subtab-1-6">Sleeve Design</li>
                        <li class="sub-tab-link" data-subtab="subtab-1-7">Lining</li>

                    </ul>
                    <div id="subtab-1-1" class="sub-tab-content current">
                        <form action="">
                            <div class="flex img-frame-wrap">
                                <div>
                                    <span class="img-title">Button Style1</span>
                                    <div class="img-frame">
                                        <img th:src="@{/images/design/jacket/buttonStyle1.png}" style="object-fit: contain;width: 100%;height: 100%;">
                                    </div>
                                </div>
                                <div>
                                    <span class="img-title">Button Style2</span>
                                    <div class="img-frame">
                                        <img th:src="@{/images/design/jacket/buttonStyle2.png}" style="object-fit: contain;width: 100%;height: 100%;">
                                    </div>
                                </div>
                                <div>
                                    <span class="img-title">Button Style3</span>
                                    <div class="img-frame">
                                        <img th:src="@{/images/design/jacket/buttonStyle3.png}" style="object-fit: contain;width: 100%;height: 100%;">
                                    </div>
                                </div>
                            </div>

                            <select name="" id="">
                                <option value="">button style1</option>
                                <option value="">button style2</option>
                                <option value="">button style3</option>
                            </select>
                            <div>
                                <button>저장</button>
                                <button>다음</button>
                            </div>
                        </form>
                    </div>
                    <div id="subtab-1-2" class="sub-tab-content">2</div>
                    <div id="subtab-1-3" class="sub-tab-content">3</div>
                    <div id="subtab-1-4" class="sub-tab-content">4</div>
                    <div id="subtab-1-5" class="sub-tab-content">5</div>
                    <div id="subtab-1-6" class="sub-tab-content">6</div>
                    <div id="subtab-1-7" class="sub-tab-content">7</div>
                </div>
                <div id="tab-2" class="design-tab-content">
                    <ul class="sub-tabs">
                        <li class="sub-tab-link current" data-subtab="subtab-2-1">subtab1</li>
                        <li class="sub-tab-link" data-subtab="subtab-2-2">subtab2</li>
                    </ul>
                    <div id="subtab-2-1" class="sub-tab-content current">tab2 > subtab1 content</div>
                    <div id="subtab-2-2" class="sub-tab-content">tab2 > subtab2 content</div>
                </div>
                <div id="tab-3" class="design-tab-content">
                    <ul class="sub-tabs">
                        <li class="sub-tab-link current" data-subtab="subtab-3-1">subtab1</li>
                        <li class="sub-tab-link" data-subtab="subtab-3-2">subtab2</li>
                    </ul>
                    <div id="subtab-3-1" class="sub-tab-content current">tab3 > subtab1 content</div>
                    <div id="subtab-3-2" class="sub-tab-content">tab3 > subtab2 content</div>
                </div>
                <div id="tab-4" class="design-tab-content">4</div>
            </div>

        </div>
    </th:block>
</th:block>

<script>
    $(document).ready(function(){

        $('.designTabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('.designTabs li').removeClass('current');
            $('.design-tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })

        // 2차 서브 탭
        $('.design_choice_wrap').on('click', '.sub-tab-link', function() {
            var subtab_id = $(this).attr('data-subtab');
            var $container = $(this).closest('.design-tab-content');

            $container.find('.sub-tab-link').removeClass('current');
            $container.find('.sub-tab-content').removeClass('current');

            $(this).addClass('current');
            $container.find('#' + subtab_id).addClass('current');
        });

    })
</script>

</html>
