<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 공통 css-->
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">

        <!-- 개별 css -->
        <link rel="stylesheet" th:href="@{/css/size.css}">

        <div class="section_wrap mb-20px">
            <div class="size_input_wrap">
                <ul class="sizeTabs flex align-center flex-center">
                    <li class="tab-link current" data-tab="tab-1">Jacket</li>
                    <li class="tab-link" data-tab="tab-2">Pants</li>
                    <li class="tab-link" data-tab="tab-3">Vest</li>
                    <li class="tab-link" data-tab="tab-4">Coat</li>
                </ul>

                <div id="tab-1" class="size-tab-content current">
                    <div class="flex size_article_wrap">
                        <div class="flex column size_inputImg_wrap">
                            <div class="img-frame">
                                <img th:src="@{/images/size/jacket-size1.png}">
                            </div>
                            <div class="img-frame">
                                <img th:src="@{/images/size/jacket-size2.png}">
                            </div>
                        </div>
                        <div class="flex between sizeOuter-wrap">
                            <div class="size_inputNumber_wrap">
                                <span class="size-title">Size 입력</span>
                                <div class="inner_inputNumber_wrap">
                                    <div class="line">
                                        <span class="name"></span>
                                        <div class="value title">실측 Size</div>
                                        <button class="btnColor_1 top_btn">수정량</button>
                                    </div>
                                    <div class="line">
                                        <span class="name">상동</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">중동</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">어깨</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">소매(좌)</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">소매(우)</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">뒷기장</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">앞기장</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="calc_wrap">
                                <div class="calc_frame">
                                    <div class="calculator">
                                        <div></div>
                                        <button class="c-btn gray">AC</button>
                                        <button class="c-btn gray">←</button>

                                        <button class="c-btn">7</button>
                                        <button class="c-btn">8</button>
                                        <button class="c-btn">9</button>

                                        <button class="c-btn">4</button>
                                        <button class="c-btn">5</button>
                                        <button class="c-btn">6</button>

                                        <button class="c-btn">1</button>
                                        <button class="c-btn">2</button>
                                        <button class="c-btn">3</button>

                                        <button class="c-btn zero">0</button>
                                        <button class="c-btn">.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="size-tab-content">
                    <div class="flex size_article_wrap">
                        <div class="flex column size_inputImg_wrap">
                            <div class="img-frame">
                            </div>
                            <div class="img-frame">
                            </div>
                        </div>
                        <div class="flex between sizeOuter-wrap">
                            <div class="size_inputNumber_wrap">
                                <span class="size-title">Size 입력</span>
                                <div class="inner_inputNumber_wrap">
                                    <div class="line">
                                        <span class="name"></span>
                                        <div class="value title">실측 Size</div>
                                        <button class="btnColor_1 top_btn">수정량</button>
                                    </div>
                                    <div class="line">
                                        <span class="name">상동</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">중동</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">어깨</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">소매(좌)</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">소매(우)</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">뒷기장</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">앞기장</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="calc_wrap">
                                <div class="calc_frame">
                                    <div class="calculator">
                                        <div></div>
                                        <button class="c-btn gray">AC</button>
                                        <button class="c-btn gray">←</button>

                                        <button class="c-btn">7</button>
                                        <button class="c-btn">8</button>
                                        <button class="c-btn">9</button>

                                        <button class="c-btn">4</button>
                                        <button class="c-btn">5</button>
                                        <button class="c-btn">6</button>

                                        <button class="c-btn">1</button>
                                        <button class="c-btn">2</button>
                                        <button class="c-btn">3</button>

                                        <button class="c-btn zero">0</button>
                                        <button class="c-btn">.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-3" class="size-tab-content">
                    <div class="flex size_article_wrap">
                        <div class="flex column size_inputImg_wrap">
                            <div class="img-frame">
                            </div>
                            <div class="img-frame">
                            </div>
                        </div>
                        <div class="flex between sizeOuter-wrap">
                            <div class="size_inputNumber_wrap">
                                <span class="size-title">Size 입력</span>
                                <div class="inner_inputNumber_wrap">
                                    <div class="line">
                                        <span class="name"></span>
                                        <div class="value title">실측 Size</div>
                                        <button class="btnColor_1 top_btn">수정량</button>
                                    </div>
                                    <div class="line">
                                        <span class="name">상동</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">중동</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">어깨</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">소매(좌)</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">소매(우)</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">뒷기장</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">앞기장</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="calc_wrap">
                                <div class="calc_frame">
                                    <div class="calculator">
                                        <div></div>
                                        <button class="c-btn gray">AC</button>
                                        <button class="c-btn gray">←</button>

                                        <button class="c-btn">7</button>
                                        <button class="c-btn">8</button>
                                        <button class="c-btn">9</button>

                                        <button class="c-btn">4</button>
                                        <button class="c-btn">5</button>
                                        <button class="c-btn">6</button>

                                        <button class="c-btn">1</button>
                                        <button class="c-btn">2</button>
                                        <button class="c-btn">3</button>

                                        <button class="c-btn zero">0</button>
                                        <button class="c-btn">.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-4" class="size-tab-content">
                    <div class="flex size_article_wrap">
                        <div class="flex column size_inputImg_wrap">
                            <div class="img-frame">
                            </div>
                            <div class="img-frame">
                            </div>
                        </div>
                        <div class="flex between sizeOuter-wrap">
                            <div class="size_inputNumber_wrap">
                                <span class="size-title">Size 입력</span>
                                <div class="inner_inputNumber_wrap">
                                    <div class="line">
                                        <span class="name"></span>
                                        <div class="value title">실측 Size</div>
                                        <button class="btnColor_1 top_btn">수정량</button>
                                    </div>
                                    <div class="line">
                                        <span class="name">상동</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">중동</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">어깨</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">소매(좌)</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">소매(우)</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">뒷기장</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                    <div class="line">
                                        <span class="name">앞기장</span>
                                        <div class="value">
                                            <div class="value_"><input type="text">&nbsp;inch</div>
                                            <div class="value_"><input type="text">&nbsp;cm</div>
                                        </div>
                                        <div class="result-num">
                                            <input type="text">&nbsp;cm
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="calc_wrap">
                                <div class="calc_frame">
                                    <div class="calculator">
                                        <div></div>
                                        <button class="c-btn gray">AC</button>
                                        <button class="c-btn gray">←</button>

                                        <button class="c-btn">7</button>
                                        <button class="c-btn">8</button>
                                        <button class="c-btn">9</button>

                                        <button class="c-btn">4</button>
                                        <button class="c-btn">5</button>
                                        <button class="c-btn">6</button>

                                        <button class="c-btn">1</button>
                                        <button class="c-btn">2</button>
                                        <button class="c-btn">3</button>

                                        <button class="c-btn zero">0</button>
                                        <button class="c-btn">.</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </th:block>
</th:block>

<script>
    $(document).ready(function(){

        $('.sizeTabs li').click(function(){
            var tab_id = $(this).attr('data-tab');

            $('.sizeTabs li').removeClass('current');
            $('.size-tab-content').removeClass('current');

            $(this).addClass('current');
            $("#"+tab_id).addClass('current');
        })
    })
</script>

</html>
