<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- jquery-validation -->
        <script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
        <script th:src="@{/plugins/jquery-validation/additional-methods.min.js}"></script>
        <script th:src="@{/js/common/validator.js}"></script>

        <h2>매장 정보</h2>

        <h5>정보 수정이 필요하다면 관리자에게 요청바랍니다.</h5>
        <form id="dataForm">
            <table>
                <tr>
                    <th>회원명</th>
                    <td th:text="${item.storeName}"></td>
                </tr>
                <tr>
                    <th>사업자등록번호</th>
                    <td th:text="${item.businessRegistrationNumber}"></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td th:text="${item.address + ' ' + item.addressDetail}"></td>
                </tr>
                <tr>
                    <th>사업자명</th>
                    <td th:text="${item.buyerCompanyName}"></td>
                </tr>
                <tr>
                    <th>대표자명</th>
                    <td th:text="${item.buyerCeoName}"></td>
                </tr>
                <tr>
                    <th>업종</th>
                    <td th:text="${item.buyerBusinessType}"></td>
                </tr>
                <tr>
                    <th>업태</th>
                    <td th:text="${item.buyerBusinessItem}"></td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td th:text="${item.buyerEmail}"></td>
                </tr>
            </table>

            <button type="button" onclick="submitStoreInfo()">저장</button>
        </form>

        <div id="layer" class="daumPost-layer">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" class="btnCloseLayer"
                 onclick="closeDaumPostcode()" alt="닫기 버튼">
        </div>

        <!--daum Post-->
        <link rel="stylesheet" th:href="@{/plugins/daumPost/css/daumPost.css}">
        <script th:src="@{https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
        <script th:src="@{/plugins/daumPost/js/daumPost.js}"></script>

        <script th:inline="javascript">
            $(function () {
                callValidationFormService(
                    $('#dataForm')
                    , {
                        zipcode: validationObject.zipcode.rules
                        , address: validationObject.address.rules
                        , addressDetail: validationObject.addressDetail.rules
                    }
                    , {
                        zipcode: validationObject.zipcode.message
                        , address: validationObject.address.message
                        , addressDetail: validationObject.addressDetail.message
                    }
                    , function (form) {
                        if (doubleClick.isDouble()) {
                            return false;
                        }

                        if (!confirm("수정하시겠습니까?")) {
                            doubleClick.initFlag();
                            return;
                        }

                        // callService(
                        //     "POST"
                        //     , "/setting/store/info/update"
                        //     , JSON.stringify(form.serializeArrayObject())
                        //     , function (response) {
                        //         alert(response.message);
                        //         if (response.success) {
                        //             location.reload();
                        //         }
                        //     }
                        // );
                    }
                );
            });
            function submitStoreInfo() {
                $('#dataForm').submit();
            }
        </script>
    </th:block>
</th:block>
</html>
