<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
    <ul class="nav">
        <li><a th:href="@{/}">Home</a></li>
        <li sec:authorize="hasRole('ROLE_USER')">
            <a href="#">Store Management</a>
            <ul>
                <li><a th:href="@{/setting/store/info}">매장정보1</a></li>
                <li><a th:href="@{/setting/employee/list}">직원목록</a></li>
                <li><a th:href="@{/setting/environment}">환경설정</a></li>
                <li><a th:href="@{/setting/images}">이미지설정</a></li>
            </ul>
        </li>
        <li>
            <a href="/mypage">My Page</a>
        </li>
    </ul>
    <a th:href="@{/logout}">로그아웃</a>
</th:block>
</html>
