<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
    <div class="main_header" th:with="pathname=${#httpServletRequest.requestURI}">
        <h2 class="logo_wrap">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="ap logo" class="main_logo">
            </a>
        </h2>
        <ul class="nav">
            <li>
                <a href="#" class="navMain">counseling</a>
                <ul class="subNav">
                    <li><a href="">About</a></li>
                    <li><a href="">Customer</a></li>
                    <li><a href="">Fabric&Item</a></li>
                    <li><a href="">Design</a></li>
                    <li><a href="">Size</a></li>
                </ul>
            </li>
            <li>
                <a th:href="@{/reservation/main}" class="navMain" th:classappend="${pathname.startsWith('/reservation')} ? 'on'">reservation</a>
            </li>
            <li sec:authorize="hasRole('ROLE_USER')">
                <a th:href="@{/setting/store/info}" class="navMain" th:classappend="${pathname.startsWith('/setting')} ? 'on'">Store Management</a>
                <ul class="subNav">
                    <li><a th:href="@{/setting/store/info}">매장정보</a></li>
                    <li><a th:href="@{/setting/employee/list}">직원목록</a></li>
                    <li><a th:href="@{/setting/environment}">환경설정</a></li>
                    <li><a th:href="@{/setting/images}">이미지설정</a></li>
                </ul>
            </li>
        </ul>
        <div class="right_area">
            <a href="javascript:void(0)">
                <img th:src="@{/images/icon/search.png}" alt="검색 아이콘" class="search_icon">
            </a>
            <a href="/mypage">
                <img th:src="@{/images/icon/mypage.png}" alt="마이페이지 아이콘" class="mypage_icon">
            </a>
            <a th:href="@{/logout}">
                <img th:src="@{/images/icon/logout.png}" alt="로그아웃 아이콘" class="logout_icon">
            </a>
        </div>
    </div>
</th:block>
</html>
