<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="leftFragment">
    <script>
        let nextUrl = '';
        let nowParts = '';
        const completed = getParamValue('completed');

        function openAboutPopup() {
            window.open(`/counseling/re-about?reservationId=${getParamValue('reservationId')}`, "ImageViewer"
                , `left=0, top=0, width=${screen.availWidth}, height=${screen.availHeight} fullscreen=yes, status=no, menubar=no, toolbar=no, resizable=no`
            );
        }

        function gotoSubPage(url) {
            nextUrl = url;
            if (completed == 'true') {
                location.href = `${url}?reservationId=${getParamValue('reservationId')}&completed=${completed}`;
            } else {
                if (nowParts == 'fabric') {
                    if (isEmpty($('#workType').val())) {
                        alert('작업방식 선택 후 디자인 또는 사이즈 페이지로 이동할 수 있습니다.');
                        return;
                    }

                    if (isEmpty($('#factory').val())) {
                        alert('라인 선택 후 디자인 또는 사이즈 페이지로 이동할 수 있습니다.');
                        return;
                    }

                    if ($('#jacket').val() == 'false' && $('#pants').val() == 'false' && $('#vest').val() == 'false' && $('#coat').val() == 'false') {
                        alert('품목 선택 후 디자인 또는 사이즈 페이지로 이동할 수 있습니다.');
                        return;
                    }
                }

                showLoadingImage();
                callService(
                    "POST"
                    , `/counseling/${nowParts}/save`
                    , JSON.stringify(convertFormToJSON($('#dataForm')))
                    , function (response) {
                        if (!response.success) {
                            alert(response.message);
                            location.href = '/counseling/customer/list';
                        } else {
                            location.href = `${url}?reservationId=${getParamValue('reservationId')}&completed=${completed}`;
                        }
                    }
                );
            }
        }

        function completeCounseling() {
            if (!confirm('상담을 완료하시겠습니까?\n완료 시 상담완료 상태로 변경하고 주문 대기 목록으로 이동합니다.')) {
                return;
            }

            nextUrl = '/counseling/complete';
            showLoadingImage();
            callService(
                "POST"
                , `/counseling/${nowParts}/save`
                , JSON.stringify(convertFormToJSON($('#dataForm')))
                , function (response) {
                    if (!response.success) {
                        alert(response.message);
                        location.href = '/counseling/customer/list';
                    } else {
                        showLoadingImage();
                        callService(
                            "POST"
                            , `/counseling/complete?reservationId=${getParamValue('reservationId')}`
                            , {}
                            , function (response) {
                                alert(response.message);
                                if (response.success) {
                                    location.href = '/counseling/customer/list';
                                }
                            }
                        );
                    }
                }
            );
        }
    </script>

    <div class="leftNav_wrap" th:with="pathname=${#httpServletRequest.requestURI}">

        <!-- counseling -->
        <ul class="left_nav" th:if="${pathname.startsWith('/counseling') && pathname != '/counseling/customer/list'}">
            <!-- about -->
            <th:block th:if="${pathname == '/counseling/about'}">
                <li class="on hideTarget">
                    <a href="javascript: return;" class="about">
                        <span>About</span>
                    </a>
                </li>
            </th:block>
            <th:block th:unless="${pathname == '/counseling/about'}">
                <li class="hideTarget">
                    <a href="javascript: openAboutPopup();" class="about">
                        <span>About</span>
                    </a>
                </li>
            </th:block>
            <!-- fabricItem -->
            <th:block th:if="${pathname == '/counseling/fabric-item'}">
                <li class="on">
                    <a href="javascript: return;" class="fabricItem">
                        <span>FabricItem</span>
                    </a>
                </li>
            </th:block>
            <th:block th:unless="${pathname == '/counseling/fabric-item'}">
                <li>
                    <a href="javascript: gotoSubPage('/counseling/fabric-item');" class="fabricItem">
                        <span>FabricItem</span>
                    </a>
                </li>
            </th:block>
            <!-- Design -->
            <th:block th:if="${pathname == '/counseling/design'}">
                <li class="on">
                    <a href="javascript: return;" class="design">
                        <span>Design</span>
                    </a>
                </li>
            </th:block>
            <th:block th:unless="${pathname == '/counseling/design'}">
                <li>
                    <a href="javascript: gotoSubPage('/counseling/design')" class="design">
                        <span>Design</span>
                    </a>
                </li>
            </th:block>
            <!-- Size -->
            <th:block th:if="${pathname == '/counseling/size'}">
                <li class="on">
                    <a href="javascript: return;" class="size">
                        <span>Size</span>
                    </a>
                </li>
            </th:block>
            <th:block th:unless="${pathname == '/counseling/size'}">
                <li>
                    <a href="javascript: gotoSubPage('/counseling/size')" class="size">
                        <span>Size</span>
                    </a>
                </li>
            </th:block>
            <li class="hideTarget" style="margin-top: 50px;">
                <a href="javascript: completeCounseling()" class="order">
                    <span>Completion</span>
                </a>
            </li>
        </ul>

        <script>
            if (completed == 'true') {
                $('.hideTarget').hide();
            }
        </script>

        <!-- Store Management -->
        <ul class="left_nav" th:if="${pathname.startsWith('/setting')}">
            <!-- 매장 정보 -->
            <li th:class="${pathname == '/setting/store/info' ? 'on' : ''}">
                <a th:href="@{/setting/store/info}" class="info">
                    <span>Information</span>
                </a>
            </li>

            <!-- 직원관리 -->
            <li th:class="${pathname.startsWith('/setting/employee') ? 'on' : ''}">
                <a th:href="@{/setting/employee/list}" class="staff">
                    <span>Staff</span>
                </a>
            </li>

            <!-- 컨설팅 업체 관리 -->
            <li th:class="${pathname.startsWith('/setting/partner') ? 'on' : ''}">
                <a th:href="@{/setting/partner/list}" class="partner">
                    <span>Consulting Partner</span>
                </a>
            </li>

            <!-- 대여복 관리 -->
            <li th:class="${pathname.startsWith('/setting/rental') ? 'on' : ''}">
                <a th:href="@{/setting/rental/list}" class="rental">
                    <span>Rental</span>
                </a>
            </li>

            <!-- 환경설정 -->
            <li th:class="${pathname == '/setting/environment' ? 'on' : ''}">
                <a th:href="@{/setting/environment}" class="template">
                    <span>Environment Setup</span>
                </a>
            </li>

            <!-- 이미지설정 -->
            <li th:class="${pathname == '/setting/images' ? 'on' : ''}">
                <a th:href="@{/setting/images}" class="design">
                    <span>Image Setup</span>
                </a>
            </li>
        </ul>
    </div>
</th:block>
</html>
