<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="leftFragment">
    <div class="leftNav_wrap">
        <ul class="left_nav">
            <li class="on">
                <a th:href="@{/setting/store/info}">
                    <img th:src="@{/images/icon/info.png}" alt="about 아이콘" style="display: none;">
                    <img th:src="@{/images/icon/info_on.png}" alt="about 아이콘" style="display: block;">
                    <span>Information</span>
                </a>
            </li>
            <li>
                <a th:href="@{/setting/employee/list}">
                    <img th:src="@{/images/icon/staff.png}" alt="customer 아이콘" style="display: block;">
                    <img th:src="@{/images/icon/staff_on.png}" alt="customer 아이콘" style="display: none;">
                    <span>Staff</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/icon/template.png}" alt="fabricItem 아이콘" style="display: block;">
                    <img th:src="@{/images/icon/template_on.png}" alt="fabricItem 아이콘" style="display: none;">
                    <span>template</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/icon/design.png}" alt="design 아이콘" style="display: block;">
                    <img th:src="@{/images/icon/design_on.png}" alt="design 아이콘" style="display: none;">
                    <span>Design</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img th:src="@{/images/icon/size.png}" alt="size 아이콘" style="display: block;">
                    <img th:src="@{/images/icon/size_on.png}" alt="size 아이콘" style="display: none;">
                    <span>Size</span>
                </a>
            </li>
        </ul>
    </div>
</th:block>
</html>
