<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Bespoke Suit Manager</title>

    <script th:src="@{/plugins/jquery/js/jquery.min.js}"></script>

    <!-- 공통 스크립트 -->
    <script th:src="@{/js/doubleClick.js}"></script>

    <!-- 공통 css-->
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <!-- 개별 css-->
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<script th:inline="javascript">
    let msg = [[${message}]];
    if (msg) {
        alert(msg);
    } else {
        $('#loginId').focus();
    }

    function login() {
        if (doubleClick.isDouble()) {
            return false;
        }

        if (!$('#loginId').val()) {
            alert([[#{login.message.input.check.id}]]);
            doubleClick.initFlag();
            $('#loginId').focus();
            return false;
        }

        if (!$('#password').val()) {
            alert([[#{login.message.input.check.password}]]);
            doubleClick.initFlag();
            $('#password').focus();
            return false;
        }

        $("#loginForm").attr("action", "/login");
        return true;
    }
</script>
<body>
    <div class="login_page">
        <div class="loginForm_wrap">
            <div class="login_guide">
                <div class="img_bg">
                    <img th:src="@{/images/account/login_bg.png}" alt="로그인 안내 bg" class="login_guide_bg">
                </div>
                <div class="guide_inner_wrap">
                    <p class="text_1">지금 회원가입하고<br> 최적의 ORDER 시스템을 경험하세요.</p>
                    <a herf="" class="text_2">Sign Up</a>
                    <img th:src="@{/images/account/logo.png}" alt="로고" class="login_logo">
                </div>
            </div>
            <form method="post" onsubmit="return login()" class="login_box">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div class="input_box">
                    <img th:src="@{/images/account/id_icon.png}" alt="id 아이콘" class="id_icon">
                    <span class="hidden_txt">아이디</span>
                    <input type="text" id="loginId" name="loginId" placeholder="ID">
                </div>
                <div class="input_box">
                    <img th:src="@{/images/account/pw_icon.png}" alt="pw 아이콘" class="pw_icon">
                    <span class="hidden_txt">비밀번호</span>
                    <input type="password" id="password" name="password" placeholder="PASSWORD">
                </div>
                <div class="login_btn">
                    <button type="submit">Log In</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
