<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 css-->
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">

<!-- 개별 css-->
<link rel="stylesheet" th:href="@{/css/page.css}">

<style>
    .container {
        /*left: 0 !important;*/
        background: #f9f9f9;
    }
</style>

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="left_area">
            <div class="customer_info_btn">
                <a href="#" class="page_btn active">기존 고객 정보</a>
                <a href="#" class="page_btn">신규 고객 정보</a>
            </div>

            <div class="">
                <div class="customer_search_wrap">
                    <h3 class="title">고객 검색</h3>
                    <form class="form_search">
                        <h4 class="inner_title">고객명</h4>
                        <input type="text">
                        <button class="search_btn" style="background:#1e6ceb">
                            <img th:src="@{/images/icon/search_w.png}" alt="검색 아이콘" class="search_icon">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="right_area">달력</div>
    </th:block>
</th:block>
</html>
