<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 개별 css-->
        <link rel="stylesheet" th:href="@{/css/page.css}">

        <!-- jquery-validation -->
        <script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
        <script th:src="@{/plugins/jquery-validation/additional-methods.min.js}"></script>
        <script th:src="@{/js/common/validator.js}"></script>

        <script th:src="@{/js/timeTable.js}" defer></script>
        <link rel="stylesheet" th:href="@{/css/timeTable.css}">


        <style>
            .container {
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
            }

            .datepicker::placeholder {
                color: #999999 !important;
                text-align: center;
            }

            .datepicker.flatpickr-input {
                position: relative;
            }

            input:read-only {
                background-color: #dddddd;
            }

            #timetableDatepicker {
                border: none;
                background-color: #ffffff;
                min-width: 1px;
                height: 20px;
                padding: 0;
                width: 102px;
                text-align: center;
            }

            .schedule-cell {
                border: 1px solid #ccc;
                text-align: center;
                font-size: 12px;
                padding: 4px;
            }
        </style>

        <div class="info_calendar">
            <div class="left_area">
                <div class="customer_info_btn">
                    <a href="/reservation/main" class="page_btn">기존 고객 정보</a>
                    <a href="#" class="page_btn active">신규 고객 정보</a>
                </div>

                <div class="info_wrap">
                    <div class="search_style_1 mt-20px scroll-box_1">
                        <form id="dataForm">
                            <div class="top_line flex between">
                                <h3 class="title">고객 정보</h3>
                                <button type="button" class="btnColor_1" id="registerButton">저장</button>
                            </div>
                            <div class="inner_bg inner_style_1 column">
                                <div class="one-line mb-5px">
                                    <div class="half-line">
                                        <h4 class="inner_title">고객명1</h4>
                                        <input type="text" name="name1" id="name1" maxlength="10" placeholder="10자 이내 입력">
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">연락처1</h4>
                                        <input type="tel" name="mobile1" id="mobile1" maxlength="11" placeholder="숫자만 입력">
                                    </div>
                                </div>
                                <div class="one-line">
                                    <div class="half-line">
                                        <h4 class="inner_title">고객명2</h4>
                                        <input type="text" name="name2" id="name2" maxlength="10" placeholder="10자 이내 입력">
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">연락처2</h4>
                                        <input type="tel" name="mobile2" id="mobile2" maxlength="11" placeholder="숫자만 입력">
                                    </div>
                                </div>
                            </div>
                            <div class="inner_bg inner_style_1 column mt-20px">
                                <div class="one-line mb-5px">
                                    <div class="half-line">
                                        <h4 class="inner_title">촬영일</h4>
                                        <div class="input-with-icon">
                                            <input type="text" name="photoDate" id="photoDate" class="datepicker" placeholder="날짜선택" readonly>
                                        </div>
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">촬영장소</h4>
                                        <input type="text" name="photoPlace" id="photoPlace" maxlength="20" placeholder="20자 이내 입력">
                                    </div>
                                </div>
                                <div class="one-line">
                                    <div class="half-line">
                                        <h4 class="inner_title">본식일</h4>
                                        <div class="input-with-icon">
                                            <input type="text" name="weddingDate" id="weddingDate" class="datepicker" placeholder="날짜선택" readonly>
                                        </div>
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">예식장소</h4>
                                        <input type="text" name="weddingPlace" id="weddingPlace" maxlength="20" placeholder="20자 이내 입력">
                                    </div>
                                </div>
                            </div>

                            <div class="top_line flex between mt-20px">
                                <h3 class="title">예약 정보</h3>
                            </div>
                            <div class="inner_bg inner_style_1 column">
                                <div class="one-line mb-5px w_100">
                                    <div class="half-line">
                                        <h4 class="inner_title">예약담당</h4>
                                        <select name="reservationManager" id="reservationManager" class="t-center">
                                            <option th:each='employee: ${employeeList}' th:value="${employee.userId}" th:text="${employee.name}" th:selected="${employee.userId == userId}"></option>
                                        </select>
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">상담담당</h4>
                                        <select name="consultingManager" id="consultingManager" class="t-center">
                                            <option value="" selected>-- 선택 --</option>
                                            <option th:each='employee: ${employeeList}' th:value="${employee.userId}" th:text="${employee.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="one-line consultReserve-line">
                                    <div class="half-line">
                                        <h4 class="inner_title">상담예약</h4>
                                        <div class="input-with-icon">
                                            <input type="text" name="consultingDate" id="consultingDate" class="datepicker reservationDatetime" placeholder="날짜선택" readonly>
                                        </div>
                                    </div>
                                    <div class="half-line">
                                        <select class="reservationDatetime" name="consultingHour" id="consultingHour">
                                            <option value="">선택</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                        </select>
                                        시&nbsp;
                                        <select class="reservationDatetime" name="consultingMinute" id="consultingMinute">
                                            <option value="">선택</option>
                                            <option value="00">0</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                        분
                                    </div>
                                </div>
                            </div>
                            <ul class="inner_style_2 mt-20px">
                                <li><span class="border-bottom" id="resultName">OOO</span> 고객님</li>
                                <li>
                                    <span class="border-bottom" id="resultDatetime">XXXX년 XX월 XX일 XX시 XX분</span>
                                </li>
                                <li>
                                    <span class="border-bottom" id="resultManager">OOO</span> 담당자와 상담 진행 예정입니다.
                                </li>
                            </ul>
                            <div class="inner_style_3 mt-20px">
                                <textarea class="textarea" name="memo" placeholder="고객 특이사항"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right_area">
                <div class="flex between">
                    <ul class="date-line flex flex-start align-center">
                        <li th:style="${'color: ' + siteEnvDto.typeColor1}">상담</li>
                        <li th:style="${'color: ' + siteEnvDto.typeColor2}">항목2</li>
                        <li th:style="${'color: ' + siteEnvDto.typeColor3}">항목3</li>
                        <li th:style="${'color: ' + siteEnvDto.typeColor4}">항목4</li>
                        <li th:style="${'color: ' + siteEnvDto.typeColor5}">항목5</li>
                        <li th:style="${'color: ' + siteEnvDto.typeColor6}">항목6</li>
                    </ul>
                    <div class="date-line flex flex-end align-center">
                        <button class="prev-btn btn" id="prevBtn"> < </button>
                        <input type="text" class="timetable_datepicker" id="timetableDatepicker" readonly>
                        <button class="next-btn btn" id="nextBtn"> > </button>
                    </div>
                </div>

                <div class="schedule-container">
                    <table class="custom-schedule-table" id="custom-schedule-table">
                        <thead>
                        <tr></tr>
                        </thead>
                        <tbody id="scheduleBody">
                        <!-- JS로 생성 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

<script th:inline="javascript">
    $(function () {
        callValidationFormService(
            $('#dataForm')
            , {
                name1: validationObject.customerName1.rules
                , mobile1: validationObject.customerMobile1.rules
                , name2: validationObject.customerName2.rules
                , mobile2: validationObject.customerMobile2.rules
                , reservationManager: validationObject.reservationManager.rules
                , consultingManager: validationObject.consultingManager.rules
                , consultingDate: validationObject.consultingDate.rules
                , consultingHour: validationObject.consultingHour.rules
                , consultingMinute: validationObject.consultingMinute.rules
            }
            , {
                name1: validationObject.customerName1.message
                , mobile1: validationObject.customerMobile1.message
                , name2: validationObject.customerName2.message
                , mobile2: validationObject.customerMobile2.message
                , reservationManager: validationObject.reservationManager.message
                , consultingManager: validationObject.consultingManager.message
                , consultingDate: validationObject.consultingDate.message
                , consultingHour: validationObject.consultingHour.message
                , consultingMinute: validationObject.consultingMinute.message
            }
            , function (form) {
                if (doubleClick.isDouble()) {
                    return false;
                }

                if (!confirm("신규고객을 등록하시겠습니까?")) {
                    doubleClick.initFlag();
                    return;
                }

                showLoadingImage();

                callService(
                    "POST"
                    , "/reservation/customer/register"
                    , JSON.stringify(convertFormToJSON(form))
                    , function (response) {
                        alert(response.message);
                        if (response.success) {
                            location.replace('/reservation/main');
                        }
                    }
                );
            }
        );
    });

    let siteEnv = [[${siteEnvDto}]];

    let todayString = getToday('YYYY-MM-DD');
    let momentDate = moment(todayString);

    $(document).ready(function () {
        const fp = standardPickerWithMinDate($('.datepicker'));

        renderTimeTable('custom-schedule-table', todayString);
    });

    $(document).on('change', '#consultingDate, #timetableDatepicker', function() {
        momentDate = moment($(this).val());

        initTimeTable('custom-schedule-table');
        renderTimeTable('custom-schedule-table', getDatetimeString(momentDate, $(this).val()));
    });

    $(document).on('click', '#prevBtn', function() {
        momentDate = momentDate.subtract(1, 'days');
        initTimeTable('custom-schedule-table');
        renderTimeTable('custom-schedule-table', getDatetimeString(momentDate, 'YYYY-MM-DD'));
    });

    $(document).on('click', '#nextBtn', function() {
        momentDate = momentDate.add(1, 'days');
        initTimeTable('custom-schedule-table');
        renderTimeTable('custom-schedule-table', getDatetimeString(momentDate, 'YYYY-MM-DD'));
    });

    $(document).on('click', '#registerButton', function() {
        $('#dataForm').submit();
    });


    // 예약 안내 멘트 관련
    $(document).on('focusout', '#name1', function() {
        setReservationText();
    });

    $(document).on('change', '.reservationDatetime', function() {
        setReservationText();
    });

    $(document).on('change', '#consultingManager', function() {
        setReservationText();
    });

    function setReservationText() {
        // 이름
        let name1 = $('#name1').val();
        if (isEmpty(name1)) {
            name1 = 'OOO'
        }
        $('#resultName').text(name1);

        // 날짜
        let dateArray = isEmpty($('#consultingDate').val()) ? 'XXXX-XX-XX'.split('-') : $('#consultingDate').val().split('-');
        let year = dateArray[0];
        let month = dateArray[1];
        let date = dateArray[2];
        let hour = isEmpty($('#consultingHour').val()) ? 'XX' : $('#consultingHour').val();
        let minute = isEmpty($('#consultingMinute').val()) ? 'XX' : $('#consultingMinute').val();

        $('#resultDatetime').text(`${year}년 ${month}월 ${date}일 ${hour}시 ${minute}분`);

        // 담당자 이름
        let consultManager = $('#consultingManager option:selected').text();
        if (isEmpty(consultManager)) {
            consultManager = 'OOO'
        }
        $('#resultManager').text(consultManager);
    }
</script>

</html>






