<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <!-- 공통 css-->
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" th:href="@{/css/common.css}">

        <!-- 개별 css-->
        <link rel="stylesheet" th:href="@{/css/page.css}">

        <!--커스텀 캘린더-->
        <link rel="stylesheet" th:href="@{/plugins/calendar/css/calendar.css}">
        <script th:src="@{/plugins/calendar/js/calendar.js}"></script>

<!--        full 캘린더-->
        <script th:src="@{/js/timeTable.js}" defer></script>
        <link rel="stylesheet" th:href="@{/css/timeTable.css}">


        <style>
            .container {
                left: 50%;
                width: 100%;
                transform: translateX(-50%);
            }

            .datepicker::placeholder {
                color: #999999 !important;
                text-align: center;
            }

            .datepicker.flatpickr-input {
                position: relative;
            }

            input:read-only {
                background-color: #dddddd;
            }
        </style>

        <div class="info_calendar">
            <div class="left_area">
                <div class="customer_info_btn">
                    <a href="/reservation/main" class="page_btn">기존 고객 정보</a>
                    <a href="#" class="page_btn active">신규 고객 정보</a>
                </div>

                <div class="info_wrap">
                    <div class="info_style_2 mt-20px">
                        <div class="calendarWrap">
                            <div class="orderCalendar">
                                <div class="calendar-header">
                                    <div class="yearMonth year-month"></div>
                                    <div class="nav">
                                        <a class="nav-btn go-prev" id="calendarPrevBtn">&lt;</a>
                                        <a class="nav-btn go-next" id="calendarNextBtn">&gt;</a>
                                    </div>
                                </div>
                                <div class="calendar-main">
                                    <div class="sevenDays days">
                                        <div class="eachDay day">일</div>
                                        <div class="eachDay day">월</div>
                                        <div class="eachDay day">화</div>
                                        <div class="eachDay day">수</div>
                                        <div class="eachDay day">목</div>
                                        <div class="eachDay day">금</div>
                                        <div class="eachDay day">토</div>
                                    </div>
                                    <div class="eachDates dates"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search_style_1 mt-20px scroll-box">
                        <form id="dataForm">
                            <div class="top_line flex between">
                                <h3 class="title">고객 정보</h3>
                                <button type="button" class="btnColor_1">저장</button>
                            </div>
                            <div class="inner_bg inner_style_1 column">
                                <div class="one-line mb-5px">
                                    <div class="half-line">
                                        <h4 class="inner_title">고객명1</h4>
                                        <input type="text" name="name1" id="name1" maxlength="10" placeholder="10자 이내 입력">
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">연락처1</h4>
                                        <input type="tel" name="mobile1" id="mobile1" maxlength="11" placeholder="숫자만 입력">
                                    </div>
                                </div>
                                <div class="one-line">
                                    <div class="half-line">
                                        <h4 class="inner_title">고객명2</h4>
                                        <input type="text" name="name2" id="name2" maxlength="10" placeholder="10자 이내 입력">
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">연락처2</h4>
                                        <input type="tel" nam="mobile2" id="mobile2" maxlength="11" placeholder="숫자만 입력">
                                    </div>
                                </div>
                            </div>
                            <div class="inner_bg inner_style_1 column mt-20px">
                                <div class="one-line mb-5px">
                                    <div class="half-line">
                                        <h4 class="inner_title">촬영일</h4>
                                        <div class="input-with-icon">
                                            <input type="text" name="photoDate" id="photoDate" class="datepicker" placeholder="날짜선택" readonly>
                                        </div>
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">촬영장소</h4>
                                        <input type="text" name="photoPlace" id="photoPlace" maxlength="20" placeholder="20자 이내 입력">
                                    </div>
                                </div>
                                <div class="one-line">
                                    <div class="half-line">
                                        <h4 class="inner_title">본식일</h4>
                                        <div class="input-with-icon">
                                            <input type="text" name="weddingDate" id="weddingDate" class="datepicker" placeholder="날짜선택" readonly>
                                        </div>
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">예식장소</h4>
                                        <input type="text" name="weddingPlace" id="weddingPlace" maxlength="20" placeholder="20자 이내 입력">
                                    </div>
                                </div>
                            </div>

                            <div class="top_line flex between mt-20px">
                                <h3 class="title">예약 정보</h3>
                            </div>
                            <div class="inner_bg inner_style_1 column">
                                <div class="one-line mb-5px w_100">
                                    <div class="half-line">
                                        <h4 class="inner_title">예약담당</h4>
                                        <select name="reservationManager" id="reservationManager" class="t-center">
                                            <option th:each='employee: ${employeeList}' th:value="${employee.userId}" th:text="${employee.name}" th:selected="${employee.userId == userId}"></option>
                                        </select>
                                    </div>
                                    <div class="half-line">
                                        <h4 class="inner_title">상담담당</h4>
                                        <select name="consultingManager" id="consultingManager" class="t-center">
                                            <option value="" selected>-- 선택 --</option>
                                            <option th:each='employee: ${employeeList}' th:value="${employee.userId}" th:text="${employee.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="one-line">
                                    <div class="half-line">
                                        <h4 class="inner_title">상담예약</h4>
                                        <div class="input-with-icon">
                                            <input type="text" name="consultingDate" id="consultingDate" class="datepicker reservationDatetime" placeholder="날짜선택" readonly>
                                        </div>
                                    </div>
                                    <div class="half-line">
                                        <select class="reservationDatetime" name="consultingHour" id="consultingHour" style="width: 10px !important;">
                                            <option value="">선택</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                        </select>
                                        시&nbsp;
                                        <select class="reservationDatetime" name="consultingMinute" id="consultingMinute" style="width: 10px !important;">
                                            <option value="">선택</option>
                                            <option value="00">0</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                        분
                                    </div>
                                </div>
                            </div>
                            <div class="inner_bg inner_style_1 column mt-20px">
                                <div class="one-line">
                                    <h4 class="inner_title">예약일시</h4>
                                    <span th:text="${#dates.format(#dates.createNow(), 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
                                    <input type="hidden" name="reservationDatetime" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}" readonly>
                                </div>
                            </div>
                            <ul class="inner_style_2 mt-20px">
                                <li><span class="border-bottom" id="resultName">OOO</span> 고객님</li>
                                <li>
                                    <span class="border-bottom" id="resultDatetime">XXXX년 XX월 XX일 XX시 XX분</span>
                                </li>
                                <li>
                                    <span class="border-bottom">XXX</span> 담당자와 상담 진행 예정입니다.
                                </li>
                            </ul>
                            <div class="inner_style_3 mt-20px">
                                <textarea class="textarea" placeholder="특이사항을 작성해 주세요."></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right_area">
                <div class="schedule-container">
                    <table class="custom-schedule-table" id="custom-schedule-table">
                        <thead>
                        <tr></tr>
                        </thead>
                        <tbody id="scheduleBody">
                        <!-- JS로 생성 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </th:block>
</th:block>

<script th:inline="javascript">
    $(document).ready(function () {
        const fp = standardPickerWithMinDate($('.datepicker'));

        renderTimeTable('custom-schedule-table');
    });

    $(document).on('focusout', '#name1', function() {
        let input = $(this).val();
        if (isEmpty(input)) {
            input = 'OOO'
        }
        $('#resultName').text(input);
    });

    $(document).on('change', '.reservationDatetime', function() {
        let dateArray = isEmpty($('#consultingDate').val()) ? 'XXXX-XX-XX'.split('-') : $('#consultingDate').val().split('-');
        let year = dateArray[0];
        let month = dateArray[1];
        let date = dateArray[2];
        let hour = isEmpty($('#consultingHour').val()) ? 'XX' : $('#consultingHour').val();
        let minute = isEmpty($('#consultingMinute').val()) ? 'XX' : $('#consultingMinute').val();

        $('#resultDatetime').text(`${year}년 ${month}월 ${date}일 ${hour}시 ${minute}분`);
    });
</script>

</html>
