<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 css-->
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">

<!-- 개별 css-->
<link rel="stylesheet" th:href="@{/css/page.css}">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- jquery-validation -->
        <script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
        <script th:src="@{/plugins/jquery-validation/additional-methods.min.js}"></script>
        <script th:src="@{/js/common/validator.js}"></script>

        <div class="section_wrap registerPage">
            <h2 class="title">직원 등록 <span class="description">* 항목은 필수 입력 항목입니다.</span></h2>

            <form id="dataForm">
                <div class="boxStyle_1">
                    <div class="line mb-20px">
                        <div class="box">
                            <h2 class="name">아이디<span class="pointColor_1">*</span></h2>
                            <div class="value">
                                <input type="text" id="loginId" name="loginId" maxlength="12" placeholder="4~12자의 영어소문자, 숫자">
                                <input type="hidden" id="loginIdCheck" value="N">
                            </div>
                            <button type="button" id="loginIdCheckButton" class="doubleCheckBtn">중복확인</button>
                        </div>
                    </div>
                    <div class="line mb-20px">
                        <div class="box">
                            <h2 class="name">비밀번호<span class="pointColor_1">*</span></h2>
                            <div class="value">
                                <input type="password" id="password" name="password" maxlength="20" placeholder="4~20자의 영어, 숫자, 특수기호(!,@,#,$,%,^,&,*)">
                            </div>
                        </div>
                    </div>
                    <div class="line mb-20px">
                        <div class="box">
                            <h2 class="name">비밀번호확인<span class="pointColor_1">*</span></h2>
                            <div class="value">
                                <input type="password" id="confirmPassword" name="confirmPassword" maxlength="20" placeholder="비밀번호와 동일하게 입력">
                            </div>
                        </div>
                    </div>
                    <div class="line mb-20px">
                        <div class="box">
                            <h2 class="name">이름<span class="pointColor_1">*</span></h2>
                            <div class="value">
                                <input type="text" id="name" name="name" maxlength="30" placeholder="30자 이내로 입력">
                            </div>
                        </div>
                    </div>
                    <div class="line mb-20px">
                        <div class="box">
                            <h2 class="name">휴대전화번호<span class="pointColor_1">*</span></h2>
                            <div class="value">
                                <input inputmode="numeric" pattern="[0-9]*" id="mobileNumber" name="mobileNumber" maxlength="11" placeholder="숫자만 입력">
                            </div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="box">
                            <h2 class="name">직책<span class="pointColor_1">*</span></h2>
                            <div class="value">
                                <select id="position" name="position">
                                    <option value="" selected>선택</option>
                                    <option value="20300">점장</option>
                                    <option value="20301">팀장</option>
                                    <option value="20302">팀원</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <table class="tableStyle registerT">-->
<!--                    <tr>-->
<!--                        <th><span class="pointColor_1">*</span> 아이디</th>-->
<!--                        <td>-->
<!--                            <input type="text" id="loginId" name="loginId" maxlength="12" placeholder="4~12자의 영어소문자, 숫자">-->
<!--                            <input type="hidden" id="loginIdCheck" value="N">-->
<!--                            <button type="button" id="loginIdCheckButton">중복확인</button>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th><span class="pointColor_1">*</span> 비밀번호</th>-->
<!--                        <td><input type="password" id="password" name="password" maxlength="20" placeholder="4~20자의 영어, 숫자, 특수기호(!,@,#,$,%,^,&,*)"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th><span class="pointColor_1">*</span> 비밀번호확인</th>-->
<!--                        <td><input type="password" id="confirmPassword" name="confirmPassword" maxlength="20" placeholder="비밀번호와 동일하게 입력"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th><span class="pointColor_1">*</span> 이름</th>-->
<!--                        <td><input type="text" id="name" name="name" maxlength="30" placeholder="30자 이내로 입력"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th><span class="pointColor_1">*</span> 휴대전화번호</th>-->
<!--                        <td><input inputmode="numeric" pattern="[0-9]*" id="mobileNumber" name="mobileNumber" maxlength="11" placeholder="숫자만 입력"></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th><span class="pointColor_1">*</span> 직책</th>-->
<!--                        <td>-->
<!--                            <select id="position" name="position">-->
<!--                                <option value="" selected>선택</option>-->
<!--                                <option value="20300">점장</option>-->
<!--                                <option value="20301">팀장</option>-->
<!--                                <option value="20302">팀원</option>-->
<!--                            </select>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                </table>-->

                <div class="btn_wrap right">
                    <button type="button" id="registerButton" class="btn_2 btnColor_1">등록</button>
                    <button type="button" id="cancelButton" class="btn_2">취소</button>
                </div>
            </form>

            <script>
                const gotoList = function () {
                    document.location.href = ("[[${ session['gotoList_/setting/employee/list'] != null ?  session['gotoList_/setting/employee/list'] : '/setting/employee/list' }]]").replace(/&amp;/g, '&');
                }
            </script>

            <script th:inline="javascript">
                $(function () {
                    callValidationFormService(
                        $('#dataForm')
                        , {
                            loginId: validationObject.loginId.rules
                            , password: validationObject.password.rules
                            , confirmPassword: validationObject.confirmPassword.rules
                            , name: validationObject.name.rules
                            , mobileNumber: validationObject.mobileNumber.rules
                            , position: validationObject.position.rules
                        }
                        , {
                            loginId: validationObject.loginId.message
                            , password: validationObject.password.message
                            , confirmPassword: validationObject.confirmPassword.message
                            , name: validationObject.name.message
                            , mobileNumber: validationObject.mobileNumber.message
                            , position: validationObject.position.message
                        }
                        , function (form) {
                            if (doubleClick.isDouble()) {
                                return false;
                            }

                            if (!confirm("직원을 등록하시겠습니까?")) {
                                doubleClick.initFlag();
                                return;
                            }

                            showLoadingImage();

                            callService(
                                "POST"
                                , "/setting/employee/register"
                                , JSON.stringify(convertFormToJSON(form))
                                , function (response) {
                                    alert(response.message);
                                    if (response.success) {
                                        location.replace('/setting/employee/list');
                                    }
                                }
                            );
                        }
                    );
                });

                $(document).ready(function () {
                    let oldVal = "";
                    $(document).on('propertychange change keyup paste input', '#loginId', function () {
                        let currentVal = $(this).val();
                        if (currentVal == oldVal) {
                            return;
                        }
                        oldVal = currentVal;
                        $("#loginIdCheck").val("N");
                    });
                });

                $(document).on('click', '#loginIdCheckButton', function () {
                    if (doubleClick.isDouble()) {
                        return false;
                    }

                    let loginId = $('#loginId').val();

                    if (!loginId) {
                        alert('아이디를 입력해 주세요.');
                        doubleClick.initFlag();
                        return;
                    }

                    if (!isValid('^[0-9a-z]{4,12}$', loginId)) {
                        alert('아이디는 4~12자의 영어소문자, 숫자로 입력해 주세요.');
                        doubleClick.initFlag();
                        return;
                    }

                    callService(
                        'post'
                        , `/setting/id/check?loginId=${loginId}`
                        , {}
                        , function (response) {
                            alert(response.message);
                            if (response.success) {
                                $("#loginIdCheck").val("Y");
                            } else {
                                $("#loginIdCheck").val("N");
                            }
                        }
                    );
                });

                $(document).on('click', '#cancelButton', function () {
                    gotoList();
                });

                $(document).on('click', '#registerButton', function () {
                    // 아이디 중복 확인 검사
                    if ($('#loginIdCheck').val() == 'N') {
                        alert('아이디 중복확인을 진행해 주세요.');
                        return false;
                    }
                    $('#dataForm').submit();
                });
            </script>
        </div>
    </th:block>
</th:block>
</html>
