@charset "utf-8";

.section_wrap {
    border: 0;
    padding: 0;
}

.designTabs {
    gap: 15px;
    margin-bottom: 25px;
}

.designTabs .tab-link {
    cursor: pointer;
    border: 1px solid #d1d3d4;
    border-radius: 7px;
    box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, .09);
    background: #fff;
    font-weight: 600;
    height: 50px;
    width: 200px;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    flex-grow: 1;
}

.designTabs li.current {
    background: #1e6ceb;
    border: 1px solid #1e6ceb;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}

.design-tab-content {
    display: none;
    /*background: #eff1f7;*/
    padding: 30px 0;
    border-radius: 10px;
}

.design-tab-content.current {
    display: inherit;
}

.sub-tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}
.sub-tabs li {
    background: #fff;
    cursor: pointer;
    border: 1px solid #d1d3d4;
    height: 48px;
    line-height: 48px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    border-radius: 7px;
    padding: 0 20px;
    box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, .09);
    min-width: 7.26%;
    cursor: pointer;
}
.sub-tabs li.current {
    background: #1e6ceb;
    border: 1px solid #1e6ceb;
    color: #fff;
}

.sub-tab-content {
    display: none;
    padding: 10px;
}
.sub-tab-content.current {
    display: block;
}

.img-title {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    display: block;
}

.img-frame-wrap {
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.article-img-frame {
    width: 32%;
}

.img-frame {
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    height: 500px;
    cursor: pointer;
}

.img-frame.selectedImage {
    border-color: #1e6ceb;
    border-width: 3px;
}

.img-frame img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.design_choice_wrap .lastSelect select {
    width: 200px;
}

.design_choice_wrap .lastSelect button {
    width: 200px;
}

@media all and (max-width: 1500px) {
    .img-frame {
        /*height: 40vh;*/
        height: 70vh;
    }
}

@media all and (max-width: 1280px) {
    .article-img-frame {
        width: 31.8%;
    }
}

@media all and (max-width: 1200px) {
    .sub-tabs {
        gap: 10px;
        margin-bottom: 15px;
    }
    .sub-tabs li {
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        min-width: 7.26%;
        cursor: pointer;
    }
    .article-img-frame {
        width: 32.4%;
    }
    .img-frame-wrap {
        gap: 10px;
    }
    .img-frame {
        /*height: 25vh;*/
        height: 70vh;
    }
}

@media all and (max-width: 992px) {
    .article-img-frame {
        width: 32%;
    }
}
