@charset "utf-8";

.main_header {
    width: 100%;
    height: 80px;
    min-width: 830px;
    /*max-width: 1680px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, .7);
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main_header img {
    height: 30px;
}

.main_header .right_area img {
    height: 25px;
}

.subNav {
    display: none;
}

.main_header .nav {
    display: flex;
    text-transform: uppercase;
    gap: 30px;
}

.main_header .nav li .navMain {
    color: #00264b;
    font-weight: 700;
    font-size: 20px;
    transition: all .3s;
}

.main_header .nav li .navMain:hover {
    color: #1e6ceb;
}

.main_header .nav li .navMain.on {
    color: #1e6ceb;
}

.main_header .right_area {
    display: flex;
    gap: 20px;
}

.main_header .right_area .h-search .search_icon.active {
    display: none;
}

.main_header .right_area .h-search:hover .search_icon {
    display: none;
}

.main_header .right_area .h-search:hover .search_icon.active {
    display: block;
}

.main_header .right_area .h-mypage .mypage_icon.active {
    display: none;
}

.main_header .right_area .h-mypage:hover .mypage_icon {
    display: none;
}

.main_header .right_area .h-mypage:hover .mypage_icon.active {
    display: block;
}

.main_header .right_area .h-logout .logout_icon.active {
    display: none;
}

.main_header .right_area .h-logout:hover .logout_icon {
    display: none;
}

.main_header .right_area .h-logout:hover .logout_icon.active {
    display: block;
}

    /*left css*/
.leftNav_wrap {
    height: 100%;
    overflow: auto;
}

.left_nav {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    z-index: 1;
}

.left_nav li {
    border: 1px solid #d1d3d4;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.1);
    background: #fff;
    position: relative;
    margin-bottom: 15px;

    border-radius: 50px;
    transition: all .3s;
}

.left_nav li:last-child {
    margin-bottom: 0;
}

.left_nav li:hover {
    width: 250px;
    color: #00264b;
    font-weight: 600;
}

.left_nav li.on {
    border: 1px solid #1e6ceb;
    background: #1e6ceb;
    border-radius: 50px;
    transition: all .3s;
}

.left_nav li.on:hover {
    width: 250px;
}

.left_nav li a {
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left_nav li .info {
    background: url(../images/icon/info.png) no-repeat 19px / 23px;
}

.left_nav li.on .info {
    background: url(../images/icon/info_on.png) no-repeat 19px / 23px;
}

.left_nav li .staff {
    background: url(../images/icon/staff.png) no-repeat 19px / 23px;
}

.left_nav li.on .staff {
    background: url(../images/icon/staff_on.png) no-repeat 19px / 23px;
}

.left_nav li .template {
    background: url(../images/icon/template.png) no-repeat 19px / 23px;
}

.left_nav li.on .template {
    background: url(../images/icon/template_on.png) no-repeat 19px / 23px;
}

.left_nav li .design {
    background: url(../images/icon/design.png) no-repeat 19px / 23px;
}

.left_nav li.on .design {
    background: url(../images/icon/design_on.png) no-repeat 19px / 23px;
}

.left_nav li a span {
    display: none;
    color: #00264b;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    font-size: 19px;
    padding-left: 60px;
}

.left_nav li:hover a span {
    display: inline-block;
}

.left_nav li.on a span {
    display: inline-block;
    color: #fff;
    padding-left: 60px;
    font-weight: 700;
}


