@charset "utf-8";

.main_header {
    min-width: 1100px;
    width: 96.5%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, .7);
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.main_header img {
    height: 30px;
}

.main_header .right_area img {
    height: 25px;
}

.subNav {
    display: none;
}

.main_header .nav {
    display: flex;
    text-transform: uppercase;
    gap: 30px;
}

.main_header .nav li .navMain {
    color: #00264b;
    font-weight: 700;
    font-size: 20px;
}

.main_header .nav li .navMain.on {
    color: #1e6ceb;
}

.main_header .right_area {
    display: flex;
    gap: 20px;
}

/*left css*/
.leftNav_wrap {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
}

.left_nav {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left_nav li {
    border: 1px solid #d1d3d4;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px 1px rgba(0,0,0,0.1);
    background: #fff;
    position: relative;
}

/*.left_nav li.on {*/
/*    background: url(../images/icon/about.png) no-repeat center / 100% 100%;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -2;*/
/*    background-size: cover;*/
/*}*/

.left_nav li a {
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.left_nav li a img {
    display: block;
    width: 60px;
    height: 100%;
    object-fit: contain;
    padding: 18px;
    box-sizing: border-box;
}

.left_nav li.on {
    border: 1px solid #1e6ceb;
    background: #1e6ceb;
    width: 200px;
    border-radius: 50px;
}