.modal_window {
    display: none;
}

.modal_style {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal_style .inner_box {
    background: #fff;
    box-shadow: 3px 3px 7px 2px rgba(0,0,0,.025);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 45px;
    border-radius: 15px;
    min-width: 350px;
}

.modal_style .inner_box .title {
    font-size: 22px;
    margin-bottom: 30px;
    border: 1px solid #eff1f7;
    background: #eff1f7;
    border-radius: 7px;
    padding: 15px;
    font-weight: 700;
    color: #00264b;
}

.modal_style .inner_box .title .pointColor_1 {
    font-size: 15px;
    padding-left: 5px;
}

.searchIconBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
}

.searchIconBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_style .inner_box select {
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 0 10px;
    outline: none;
    height: 35px;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, .025);
}

.modal_style .inner_box input {
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    box-sizing: border-box;
    height: 35px;
    border-radius: 7px;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, .025);
}

.data_box {
    padding: 0;
}

.data_box .basic_info {
    display: flex;
    gap: 20px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #eee;
}

.data_box .basic_info li {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 15px
}

.data_box .basic_info li .name {
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 6px;
    color: #666
}

.data_box .basic_info li .value {
    font-size: 22px;
    font-weight: 700;
}

.data_box .line {
    /*background: #eff1f7;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px ;
}

.data_box .line .name {
    width: 25%;
    padding-left: 10px;
    font-weight: 400;
    color: #222;
}

.data_box .line .value {
    width: 70%;
}

.data_box .inner_title {
    font-size: 17px;
    width: 70px;
    text-align: center;
}

.modal_style .data_box .inner_title {
    font-size: 16px;
    width: 100px;
}

.data_box .one-line {
    gap: 10px;
}

.one-line {
    display: flex;
    align-items: center;
}

.one-line sup {
    color: #ff0000;
    font-weight: 500;
}

.mb-5px {
    margin-bottom: 5px;
}

.data_box .one-line .unfixed-option {
    margin-left: 0;
}

.modal_style .inner_box .btn_wrap {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    gap: 10px;
}

/* 새창 팝업 */
.blank_popup {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
}

.section_block {
    border: 1px solid #ddd;
    border-radius: 20px;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.section_block.full_block {
    width: 90%;
}

.section_block.half_block {
    width: 48%;
}

.block_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.basic_block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.list_ {
    background-color: #eff1f7;
}

.basic_block .list_ {
    flex-grow: 1;
    display: flex;
    border-radius: 10px;
    gap: 10px;
    padding: 12px;
    box-sizing: border-box;
}

.list_.full-list_ {
    width: 100%;
}

.list_.full-list_ span {
    display: inline-block;
}

.list_.full-list_ .name {
    width: 15%;
    font-size: 15px;
    font-weight: 500;
    word-break: keep-all;
}

.list_.full-list_ .value {
    width: 33%;
}

.blank_popup .data_box {
    display: flex;
}

.blank_popup .data_box .basic_info {
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.blank_popup .data_box li {
    flex-grow: 1;
    width: 30%;
}

.blank_popup .data_box li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 0;
    gap: 5px;
    align-items: center;
}

.blank_popup .data_box li .name {
    width: 28%;
    padding-bottom: 0;
}

.blank_popup .data_box li .value {
    width: 68%;
    min-height: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.select_style {
    border: 1px solid #ddd;
    /* min-width: 80px; */
    border-radius: 7px;
    padding: 0 10px;
    outline: none;
    height: 45px;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, .025);
}

.blank_popup .data_box .textarea-line {
    width: 100%;
}

.blank_popup .data_box li.textarea-line .name {
    width: 10%;
}

.blank_popup .data_box li.textarea-line .value pre {
    font-family: "Noto Sans KR";
}

/* 테이블 */
.blank_popup .table_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.blank_popup table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
}

.blank_popup .tableStyle.listT .title_tr th {
    background-color: #eff1f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.blank_popup .table_wrap .tableStyle.listT tbody tr:hover {
    transition: all .3s;
    background-color: #dae8ff;
    cursor: pointer;
    font-weight: 600;
}

.blank_popup .table_wrap.no-popup .tableStyle.listT tbody tr:hover {
    transition: inherit;
    background-color: transparent;
    cursor: inherit;
    font-weight: 400;
}

.blank_popup .tableStyle.listT tr {
    width: 100%;
}

.blank_popup .tableStyle.listT td {
    border: 1px solid #ddd;
    padding: 0 3px;
    text-align: center;
    height: 45px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upper_line {
    display: flex;
    justify-content: space-between;
}

.btn-style-3 {
    display: inline-block;
    padding: 0 20px;
    border-radius: 100px;
    transition: all .3s;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.btn-style-3:hover {
    background-color: #004fd0;
    color: #fff;
    border: 1px solid #004fd0;
}

.btn-style-4 {
    display: inline-block;
    padding: 0 30px;
    border-radius: 100px;
    transition: all .3s;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;

    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, .025);
    min-width: 60px;
    background: #fff;
    outline: none;
    transition: all .3s;
}

.btn-style-4:hover {
    background-color: #f1f1f1;
    color: #555;
    border: 1px solid #aaa;
    font-weight: 700;
}

.btnColor_1 {
    background-color: #1e6ceb;
    color: #fff;
    border: 1px solid #1e6ceb;
    cursor: pointer;
}

.btnColor_1:hover {
    background-color: #004fd0;
    color: #fff;
    border: 1px solid #004fd0;
}

.delete_btn:hover {
    background-color: #f1f1f1;
    color: #555;
    border: 1px solid #aaa;
    font-weight: 700;
}

.textarea-style {
    height: 100%;
    display: block;
    padding: 7px 13px;
    resize: none;
    overflow: auto;
    outline: none;
    box-sizing: border-box;
}

.textarea-style.border {
    border: 1px solid #ddd;
    width: 85%;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, .025);
    border-radius: 7px;
    overflow: auto;
}

.modal_style .textarea-style.border {
    width: 65%;
}

.unfixed-option {
    width: initial !important;
}

.unfixed-option input[type="checkbox"] {
    width: auto;
    height: auto;
}

.unfixed-option {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    color: #666;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 80px;
    text-align: center;
    box-sizing: border-box;
    word-break: keep-all;
}

.unfixed-option span {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 100%;
    padding: 4px 14px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
}

.unfixed-option input {
    display: none;
}

.unfixed-option:hover {
    border-color: #999;
}

.unfixed-option input:checked + span {
    color: #fff;
    background: #4b7bec;
    border: 1px solid #4b7bec;
}