@charset "utf-8";

.about_wrap {
    background: url(../images/setting/about.png) no-repeat center / 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-size: cover;
}