@charset "utf-8";

.myPage_wrap .main_title {
    font-size: 19px;
    margin: 0 auto 25px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
    background: #eff1f7;
    border-radius: 15px;
}

.settingInfo_wrap .main_title {
    font-size: 19px;
    margin: 0 auto 25px;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
    background: #eff1f7;
    border-radius: 15px;
}

.boxStyle_1 {
    width: 100%;
}

.boxStyle_1 .line {
    background-color: #eff1f7;
    display: flex;
    border-radius: 10px;
}

.boxStyle_1 .box {
    display: flex;
    width: 70%;
    align-items: center;
    padding: 15px 25px;
}

.boxStyle_1 .box .name {
    width: 25%;
    text-align: left;
    box-sizing: border-box;
    font-size: 17px;
    max-width: 130px;
    min-width: 130px;
}

.boxStyle_1 .box .value {
    width: 60%;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    color: #111;
    text-align: left;
    background: #fff;
    box-shadow: 3px 3px 7px 2px rgba(0,0,0,.025);
    border-radius: 7px;
    overflow: hidden;
}

.boxStyle_1 .box .value input {
    border: 0;
    width: 100%;
    padding: 0 15px;
}

.boxStyle_1 .box .doubleCheckBtn {
    width: 100px;
    margin-left: 10px;
}

.boxStyle_1 .box.other_box .value {
    background: transparent;
    font-weight: 500;
    box-shadow: none;
}

.boxStyle_1 .box.other_box .resetBtn {
    padding: 0 20px;
}

.boxStyle_1 .box .value select {
    border: 0;
    width: 100%;
}

.boxStyle_1 .box.only-box .name {
    width: 12%;
}

.boxStyle_2 {
    width: auto;
}

.boxStyle_2 .line {
    background-color: #eff1f7;
    display: inline-flex;
    border-radius: 10px;
}

.boxStyle_2 .box {
    display: inline-flex;
    align-items: center;
    padding: 15px 25px;
}

.boxStyle_2 .box .name {
    text-align: left;
    box-sizing: border-box;
    font-size: 17px;
    white-space: nowrap;
    padding-right: 10px;
}

.boxStyle_2 .box .value {
    width: 100%;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    color: #111;
    text-align: left;
    background: #fff;
    box-shadow: 3px 3px 7px 2px rgba(0,0,0,.025);
    border-radius: 7px;
    overflow: hidden;
}

.boxStyle_2 .box .value input {
    border: 0;
    /*min-width: 100px;*/
    max-width: 200px;
    width: 100%;
    padding: 0 15px;
}

.boxStyle_2 .box .doubleCheckBtn {
    width: 100px;
    margin-left: 10px;
}

.boxStyle_2 .box.other_box {
    gap: 5px;
    padding: 15px 10px;
}

.boxStyle_2 .box.other_box .name {
    text-align: center;
    width: 120px;
    padding-right: 0;
}

.boxStyle_2 .box.other_box .value {
    background: transparent;
    font-weight: 500;
    box-shadow: none;
}

.boxStyle_2 .box.other_box .resetBtn {
    padding: 0 20px;
}

.boxStyle_2 .guide_text {
    font-size: 16px;
    font-weight: 500;
    color: #1e6ceb;
}

.boxStyle_2 .box .value select {
    border: 0;
    width: 100%;
}

.boxStyle_2 .box.only-box .name {
    width: 12%;
}

.boxStyle_2 .boxImg-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
}

.boxStyle_2 .boxImg {
    border: 1px solid #d1d3d4;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    margin-bottom: 15px;
    border-radius: 50px;
    transition: all .3s;
    overflow: hidden;
}

.boxStyle_2 .boxImg span {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #fff;
    transition: all .3s;
}

.boxStyle_2 .boxImg .jacket {
    background: url(../images/icon/jacket.png) no-repeat 18px / 23px;
}

.boxStyle_2 .boxImg .jacket.on {
    background: url(../images/icon/jacket_w.png) no-repeat 18px / 23px;
    background-color: #1e6ceb;
}

.boxStyle_2 .boxImg .pants {
    background: url(../images/icon/pants.png) no-repeat 22px / 15px;
}

.boxStyle_2 .boxImg .pants.on {
    background: url(../images/icon/pants_w.png) no-repeat 22px / 15px;
    background-color: #1e6ceb;
}

.boxStyle_2 .boxImg .vest {
    background: url(../images/icon/vest.png) no-repeat 18px / 23px;
}

.boxStyle_2 .boxImg .vest.on {
    background: url(../images/icon/vest_w.png) no-repeat 18px / 23px;
    background-color: #1e6ceb;
}

.boxStyle_2 .boxImg .coats {
    background: url(../images/icon/coat.png) no-repeat 18px / 23px;
}

.boxStyle_2 .boxImg .coats.on {
    background: url(../images/icon/coat_w.png) no-repeat 18px / 23px;
    background-color: #1e6ceb;
}

.boxStyle_2 .boxImg span:hover {
    background-color: rgb(174 205 255 / 20%);
}

.boxStyle_2 .btn-style- {
    padding-left: 20px;
    padding-right: 20px;
}

.boxStyle_2 .btn-style- a {
    text-align: center;
    font-weight: 600;
}

.fabric-4.section_wrap {
    padding: 30px;
    overflow: auto;
}

.fabric-4 .btn_wrap {
    gap: 7px;
}

.fabric-4 .btn_wrap span {
    color: #00264b;
}

.fabric-4 .btn_wrap .search_frame {
    width: 13%;
}

.fabric-4 .btn_wrap .reset_frame {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.fabric-4 .btn_wrap .reset_frame .reset {
    background-image: url(../images/icon/reset.png);
    width: 13px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.apply-all-label-wrap {
    margin-bottom: 12px;
    display: inline-block;
}

.apply-all-label-wrap .apply-all-label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.apply-all-label-wrap .apply-all-label input {
    height: auto;
    cursor: pointer;
}

.search_form .boxStyle_2 .line {
    padding: 15px 10px 5px;
    margin-bottom: 10px;

    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.search_form .boxStyle_2 .line .box.other_box {
    padding: 0 15px 10px;
}

.search_form .boxStyle_2 .boxImg {
    margin-bottom: 0;
}

.search_form .boxStyle_2 .boxImg .search {
    background: url(../images/icon/search_g.png) no-repeat 19px / 23px;
}

.search_form .boxStyle_2 .boxImg .search:hover {
    background: url(../images/icon/search_w.png) no-repeat 19px / 23px;
    background-color: #1e6ceb;
}

.search_form .boxStyle_2 .boxImg .init {
    background: url(../images/icon/close.png) no-repeat 19px / 23px;
}

.search_form .boxStyle_2 .boxImg .init:hover {
    background: url(../images/icon/close2.png) no-repeat 19px / 23px;
    background-color: #1e6ceb;
}

.search_form .boxStyle_2 .btn-style-2 {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-weight: 600;
}

.boxStyle_2 .btn-style-2 {
    font-size: 18px
}

.boxStyle_2 .btn-style-2 button {
    font-weight: 600;
}

/* 검색창 */
.search_wrap {
    background: #eff1f7;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.search_wrap .filter_wrap {
    display: flex;
    align-items: center;
}

.search_wrap .filter_wrap .filter {
    display: flex;
    gap: 10px;
    align-items: center;
    /*width: 50%;*/
}

.search_wrap .filter_wrap .filter .title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 0;
    width: 100px;
    white-space: nowrap;
    text-align: center;
}

.search_wrap .filter_wrap .filter_2 .title {
    padding-left: 10px;
}

.listPage .button_box {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: flex-end;
}

.listPage .button_box button {
    width: 100px;
}

.listPage .button_box .registerBtn {
    width: 100px;
}

.listPage_btn.btn_wrap {
    gap: 10px;
    position: absolute;
    bottom: -80px;
    right: 0;
}

/* 신규정보등록 */
.registerInfoForm .flex {
    gap: 20px;
}

.registerInfoForm .boxStyle_2 .line-2 {
    flex-direction: column;
    width: 30%;
    flex-grow: 1;
}

.registerInfoForm .boxStyle_2 .textarea-line .line-2 .other_box {

}

.registerInfoForm .boxStyle_2 .box .value input {
    max-width: initial;
}

.registerInfoForm .boxStyle_2 .line-2 .box .name {
    /*min-width: 80px;*/
    padding-left: 5px;
    padding-right: 10px;
    width: 25%;
}

.registerInfoForm .inner_title {
    white-space: nowrap;
    padding-right: 20px;
    /*min-width: 55px;*/
}

.registerInfoForm .half-line input {
    width: 100%;
}

.registerInfoForm .textarea-line {
    align-items: flex-end;
    width: 82.5%;
}

.registerInfoForm .textarea-line .box {
    align-items: flex-start;
}

.registerInfoForm .textarea-line .box .name {
    padding-top: 10px;
}

.registerInfoForm .textarea-line .box textarea {
    border: 0;
    border-radius: 10px;
    padding: 10px 12px;
    box-sizing: border-box;
    display: inline-block;
    resize: none;
    width: 100%;
    outline: none;
    box-shadow: 2px 4px 7px 5px rgba(0,0,0,0.03)
}

    /* 직원 목록 수 */
.number_lists.result {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.number_lists.result .total {
    font-size: 18px;
    font-weight: 500;
    display: flex;
}

.number_lists.result .total span:first-child {
    padding-right: 5px;
}

.number_lists.result h5 .people {
    font-weight: 700;
    color: #1e6ceb;
}

/* 테이블 */
.tableStyle.listT {
    width: 100%;
    table-layout: fixed;
}

.tableStyle.listT .title_tr {
    display: contents;
    max-width: 1200px;
    min-width: 850px;
}

.tableStyle.listT .title_tr th {
    background-color: #eff1f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.tableStyle.listT .gotoDetail:hover {
    transition: all .3s;
    background-color: #dae8ff;
    cursor: pointer;
    font-weight: 600;
}

.tableStyle.detailT {
    width: 100%;
    border-radius: 10px;
    border-collapse: separate;
}

.tableStyle.detailT th {
    width: 200px;
    text-align: left;
    padding: 0 10px;
    box-sizing: border-box;
}

.tableStyle.detailT td {
    background: #eff1f7;
    padding: 10px 20px;
    text-align: left;
    border-radius: 10px
}

.tableStyle.detailT td input {
    width: 300px;
}

.tableStyle.registerT td select,
.tableStyle.detailT td select {
    width: 300px;
}

.tableStyle.registerT td button,
.tableStyle.detailT td button {
    margin-left: 5px;
    width: 100px;
}

.tableStyle.listT2 .title_tr th {
    border: 1px solid #ddd;
}

.tableStyle.listT2 td {
    border: 1px solid #ddd;
    padding: 0 3px;
}

.registerPage {
    position: relative;
}

.registerPage .btn_wrap {
    gap: 10px;
    position: absolute;
    bottom: -80px;
    right: 0;
}

/* 상세페이지 */
.tableStyle.detailT .resetBtn {
    width: 150px;
}

.detailPage .btn_wrap {
    gap: 10px;
    position: absolute;
    bottom: -80px;
    right: 0;
}

/*design wrap*/
.designPage .btn_wrap {
    gap: 10px;
    position: absolute;
    bottom: -130px;
    right: 0;
    padding-bottom: 50px;
}

.design_wrap .option-group {
    border-radius: 15px;
    background: #eff1f7;
    padding: 30px;
}

.option-group .group-title {
    padding-bottom: 20px;
}


.type-config-wrap {
    display: flex;
    gap: 20px;
}

.type-config {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #eff1f7;
    padding: 10px 25px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.type-config .name {
    font-weight: 700;
    font-size: 18px;
}

.type-config select {
    height: 42px;
}

/*이미지 선택 페이지*/
.upload_frame {
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.upload_box {
    display: flex;
    gap: 30px;
    border-radius: 15px;
    padding: 30px;
    background-color: #eff1f7;
    position: relative;
}

.selected-count {
    position: absolute;
    bottom: 22px;
}

.upload_label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: #1F365E;
    /*margin-bottom: 8px;*/
}

.desc_text {
    margin-bottom: 8px;
    font-size: 16px;
    color: #999;
}

.desc_text:first-child {
    margin-top: 3px;
}

.preview_box {
    width: 33%;
    height: 250px;
    /*margin: 12px 0;*/
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    display: flex; /* Flexbox 적용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: center; /* 가로 중앙 정렬 */
    overflow: hidden; /* 넘치는 이미지 방지 (선택) */
}

.upload_boxes {
    padding-bottom: 45px;
}

.preview_box img {
    max-width: 400px;
    max-height: 245px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.desc_btn_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.upload_box input[type=file] {
    display: none;
}

.upload_frame .btn_wrap {
    gap: 10px;
}

/* reservation */
.info_calendar {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.info_calendar .left_area {
    min-width: 400px;
    max-width: 500px;
    width: 35%;
}

.info_calendar .right_area {
    width: 55%;
    min-width: 500px;
    margin-top: 40px;
}

.search_style_1 {
    border: 1px solid #d1d3d4;
    padding: 20px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
}

.search_style_1 .title {
    font-size: 20px;
    margin-bottom: 10px;
}

.search_style_1 .top_line .title {
    margin-bottom: 0
}

.search_style_1 .top_line {
    margin-bottom: 10px;
    align-items: flex-end;
}

.search_style_1 .top_line button {
    width: 80px;
    height: 30px;
}

.info_style_1 {
    border: 1px solid #d1d3d4;
    padding: 20px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
}

.info_style_1 .description {
    margin-top: 15px;
}

.info_style_2 {
    border: 1px solid #d1d3d4;
    padding: 7px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #fff;
    min-height: 21vh;
    overflow: hidden;
}

.info_style_2 .description {
    margin-top: 15px;
}

.customer_info_btn {
    width: 100%;
    max-width: 450px;
    background: #fff;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.page_btn {
    width: 50%;
    cursor: pointer;
    border: 1px solid #d1d3d4;
    background: #fff;
    color: #939598;
    font-weight: 700;

    display: inline-block;
    border-radius: 7px;
    transition: all .3s;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 3px 3px 11px 1px rgba(0,0,0,.09);
}

.page_btn:hover {
    background: #b5b5b5;
    color: #fff;
}

.page_btn.active {
    font-weight: bold;
    background-color: #1e6ceb;
    color: #fff;
    border: 1px solid #1e6ceb;
}

.inner_style_1 {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 5px;
    border-radius: 10px;
    justify-content: space-between;
}

.scroll-box {
    height: 62vh;
    overflow: auto;
}

.scroll-box_1 {
    height: 80vh;
    overflow: auto;
}

.inner_style_1 .inner_title {
    font-size: 17px;
    width: 70px;
    text-align: center;
}

.inner_bg input {
    width: 60%;
}

.inner_style_1 .search_btn {
    min-width: 45px;
    padding: 10px;
    margin-left: 5px;
}

.inner_style_1 .search_btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-line {
    display: flex;
    align-items: center;
}

.half-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.one-line .half-line {
    width: 50%;
}

.half-line input,
.half-line select {
    width: 140px;
}

/*.consultReserve-line .half-line input,*/
.consultReserve-line .half-line select {
    width: initial;
}

.inner_style_2 {
    padding: 10px 15px 10px 10px;
    border-radius: 10px;
    border: 1px solid #1e6ceb;
}

.inner_style_2 li {
    padding: 2px 0;
}

.inner_style_3 {
    border: 1px solid #eff1f7;
    box-shadow: 3px 3px 11px 1px rgba(0,0,0,.09);
    border-radius: 10px;
}

.inner_style_3 .textarea {
    border: 0;
    padding: 15px 15px 15px 10px;
    display: block;
    width: 100%;
    outline: 0;
    resize: none;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100px;
}

.border-bottom {
    border-bottom: 1px solid #555;
    display: inline-block;
    font-weight: 700;
    color: #1e6ceb;
}

.consultReserve-line {
    width: 100%;
    gap: 10px;
}

.date-line {
    gap: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 18px;
}

.date-line .btn {
    min-width: 30px;
    height: 25px;
    border-radius: 10px;
    border: 0;
}

.date-line .btn:hover {
    background-color: transparent;
}

.date-line .timetable_date {
    font-weight: 600;
}

.middle-icon-line {
    margin-bottom: 15px;
}

.middle-icon-line .name {
    font-weight: 600;
    font-size: 17px;
    color: #00264b;
    cursor: pointer;
    transition: all .3s;
}

.middle-icon-line .name:hover {
    color: #1e6ceb;
    font-weight: 700;
}

.excelImg {
    height: 17px;
}

.excelDownload {
    gap: 10px;
    margin-left: 35px;
}

.excelDownload button {
    border: 0;
    background: transparent;
    box-shadow: initial;
}

@media all and (max-width: 1600px) {
    .search_wrap {
        flex-direction: column;
    }
    .search_wrap .filter_wrap .filter {
        width: 50%;
    }
    .search_wrap .filter_wrap .filter .title {
        min-width: 100px;
        width: 20%;
    }
    .search_wrap .filter_wrap .filter .filter__ {
        width: 80%;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .search_wrap .filter_wrap .filter .filter__ select {
        width: 40%;
    }
    .search_wrap .filter_wrap .filter .filter__ input {
        width: 60%;
    }
    .listPage .button_box {
        padding-top: 10px;
    }
}

@media all and (max-width: 1500px) {
    .half-line input,
    .half-line select {
        width: 135px;
    }
    .boxStyle_1 .box .name {
        width: 35%;
    }

    .registerInfoForm .half-line input {
        width: 115px;
        width: 100%;
    }
    .registerInfoForm .half-line select {
        width: 50px;
        padding: 0;
    }
    .boxStyle_2 .box {
        padding: 15px;
    }
}
@media all and (max-width: 1400px) {
    .inner_bg input {
        width: 55%;
    }
    .half-line input,
    .half-line select  {
        width: 130px;
    }
}
@media all and (max-width: 1300px) {
    .inner_bg input {
        width: 50%;
    }
    .half-line input,
    .half-line select {
        width: 120px;
    }
}

@media all and (max-width: 1280px) {
    .boxStyle_1 .box {
        padding: 15px 20px;
    }
    .boxStyle_1 .box.only-box .value {
        width: 77%;
    }
    .boxStyle_1 .line .box:nth-child(1) {
        padding-right: 0;
    }

    .boxStyle_1 .line .box:nth-child(2) {
        padding-left: 0;
    }

    .type-config input {
        min-width: 50px;
        padding: 0;
    }
    .type-config select {
        min-width: 70px;
    }
}

@media all and (max-width: 1200px) {
    .boxStyle_2 .box .value input {
        max-width: 160px;
    }
    .upload_box {
        gap: 20px;
    }
    .desc_text {
        font-size: 15px;
    }
    .registerInfoForm .boxStyle_2 .line-2 .box .name {
        width: 35%;
    }
}

@media all and (max-width: 1080px) {
    .search_form .boxStyle_2 .btn-style-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .type-config .name {
        font-size: 16px;
        white-space: nowrap;
    }
    .boxStyle_1 .box .name {
        width: 40%;
    }
    .registerInfoForm .half-line select {
        width: 30px;
    }
}

@media all and (max-width: 992px) {
    .search_wrap {
        flex-direction: row;
    }
    .search_wrap .filter_wrap {
        flex-direction: column;
        width: 80%;
        gap: 7px;
    }
    .search_wrap .filter_wrap .filter {
        width: 100%;
    }
    .search_wrap .filter_wrap .filter .filter__ {
        width: 100%;
    }
    .search_wrap .filter_wrap .filter_2 .title {
        width: 100px;
        padding-left: 0;
    }
    .listPage .button_box {
        padding-top: 0;
        flex-direction: column;
    }
    .listPage .button_box button {
        width: 120px;
    }
    .desc_text {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .desc_text:first-child {
        margin-top: 2px;
    }

    .type-config-wrap {
        gap: 15px;
        width: 100%;
        overflow: hidden;
    }
    .registerInfoForm .inner_title {
        padding-right: 5px;
    }
    .registerInfoForm .boxStyle_2 .line-2 .box .name {
        width: 45%;
        padding-right: 5px;
    }
}

@media all and (max-width: 900px) {
    .search_wrap {
        min-width: 640px;
    }
}
