@charset "utf-8";

.section_wrap {
    border: 0;
    padding: 0;
}

.size_input_wrap {

}

.size_input_wrap .sizeTabs {
    gap: 15px;
    margin-bottom: 25px;
}

.size_input_wrap .sizeTabs .tab-link {
    cursor: pointer;
    border: 1px solid #d1d3d4;
    border-radius: 7px;
    box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, .09);
    background: #fff;
    font-weight: 600;
    height: 50px;
    width: 200px;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    flex-grow: 1;
}

.size_input_wrap .sizeTabs .tab-link.current {
    background: #1e6ceb;
    border: 1px solid #1e6ceb;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
}

.size_input_wrap .sizeTabs li.current {
    background: #ededed;
    color: #222;
}

.size_input_wrap .size-tab-content {
    display: none;
    padding: 15px;
}

.size_input_wrap .size-tab-content.current {
    display: inherit;
}

.size_article_wrap {
    justify-content: space-between;
}

.warp_center {
    justify-content: center !important;
}

.size_inputImg_wrap {
    width: 33%;
}

.size_inputImg_wrap1 {
    width: 16%;
}

.size_inputImg_wrap .img-frame {
    display: flex;
    justify-content: center;
}

.size_inputImg_wrap img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.sizeOuter-wrap {
    width: 65%;
    gap: 20px;
}

.sizeOuter-wrap1 {
    width: 81%;
    gap: 20px;
}

.size_inputNumber_wrap {
    width: 100%;
}

.inner_inputNumber_wrap {
    border: 1px solid #d8d8d7;
    padding: 30px 40px;
    border-radius: 20px;
    width: 100%;
    box-sizing: border-box;
}

.size-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    display: block;
    height: 55px;
}

.inner_inputNumber_wrap .line {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.inner_inputNumber_wrap .line:last-child {
    margin-bottom: 0;
}

.inner_inputNumber_wrap .line .name {
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    width: 60px;
}

.inner_inputNumber_wrap .line .value.title {
    font-weight: 700;
    justify-content: center;
    height: 30px;
    line-height: 40px;
}

.inner_inputNumber_wrap .line .value {
    background-color: #eff1f7;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 270px;
    box-sizing: border-box;
    gap: 10px;
}

.inner_inputNumber_wrap .line .value .value_ {
    font-weight: 600;
    width: 50%;
}

.inner_inputNumber_wrap .line .value .value_1 {
    width: 100%;
}

.inner_inputNumber_wrap .line .top_btn {
    width: 70px;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
}

.inner_inputNumber_wrap .line .value input {
    padding: 0 5px;
    width: 65%;
    height: 35px;
    line-height: 40px;
    color: #00264b;
    font-weight: 600;
    text-align: center;
}

.result-num input {
    padding: 0 5px;
    width: 70px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
    color: #1e6ceb;
    border: 1px solid #1e6ceb;
    text-align: center;
}

.result-num {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #1e6ceb;
}

.calc_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

.calc_wrap .calc_frame {
    background-color: #eff1f7;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

/* 계산기 */
.calculator {
    /*background: #f1f1f6;*/
    padding: 40px;
    border-radius: 24px;
    /*box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);*/
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-auto-rows: 70px;
    gap: 16px;
}

.c-btn {
    height: auto;
    background: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.2s;
}

.c-btn:active {
    transform: scale(0.95);
}

.c-btn.gray {
    background: #d6d6d6;
    color: #000;
}

.c-btn.zero {
    grid-column: span 2;
    border-radius: 40px;
}

.title1 {
    background-color: #1e6ceb;
    color: #fff;
    border: 1px solid #1e6ceb;
    width: 70px;
    border-radius: 10px;
    height: 38px;
    line-height: 40px;
    text-align: center;
}

.inner_inputNumber_wrap .line .value1.title {
    font-weight: 700;
    justify-content: center;
    height: 30px;
    line-height: 40px;
}

.inner_inputNumber_wrap .line .value1 {
    background-color: #eff1f7;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 500px;
    box-sizing: border-box;
    gap: 10px;
}

.inner_inputNumber_wrap .line .value1 .value_ {
    font-weight: 600;
    width: 33%;
}

.inner_inputNumber_wrap .line .value1 input {
    padding: 0 5px;
    width: 65%;
    height: 35px;
    line-height: 40px;
    color: #00264b;
    font-weight: 600;
    border: 1px solid #1e6ceb;
    text-align: center;
}


.inner_inputNumber_wrap .line .value2.title {
    font-weight: 700;
    justify-content: center;
    height: 30px;
    line-height: 40px;
}

.inner_inputNumber_wrap .line .value2 {
    background-color: #eff1f7;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 700px;
    box-sizing: border-box;
    gap: 10px;
}

.inner_inputNumber_wrap .line .value2 .value_ {
    font-weight: 600;
    width: 33%;
}

.inner_inputNumber_wrap .line .value2 input {
    padding: 0 5px;
    width: 65%;
    height: 35px;
    line-height: 40px;
    color: #00264b;
    font-weight: 600;
    border: 1px solid #1e6ceb;
    text-align: center;
}





@media all and (max-width: 1500px) {
    .size_inputImg_wrap img {
        width: 80%;
    }
}

@media all and (max-width: 1280px) {
    .size_article_wrap {
        flex-direction: column;
    }
    .sizeOuter-wrap {
        width: 100%;
    }
    .sizeOuter-wrap1 {
        width: 100%;
    }
    .size_inputImg_wrap {
        width: 70%;
        flex-direction: row;
    }
    .size_inputImg_wrap img {
        width: 100%;
        object-fit: contain;
    }
    .inner_inputNumber_wrap {
        padding: 20px;
    }
}

@media all and (max-width: 992px) {
    .size_inputImg_wrap {
        width: 85%;
        gap: 20px;
    }
}

input:read-only {
    background-color: #dddddd !important;
}

.line select {
    width: 100px;
}
