.schedule-container {
    overflow: auto;
    height: 80vh;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.custom-schedule-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    font-size: 13px;
}

#custom-schedule-table th,
#custom-schedule-table td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 6px;
    height: 15px;
    font-size: 17px;
    cursor: default;
}

.custom-schedule-table th {
    font-weight: bold;
}

.custom-schedule-table .time-label {
    background-color: #f9f9f9;
    font-weight: bold;
    width: 70px;
}

.custom-schedule-table .schedule-cell {
    background-color: #fff;
    height: 30px;
}

#custom-schedule-table th:nth-child(1), /* 시간 */
#custom-schedule-table th:nth-child(2)  /* 분 */ {
    width: 60px;
    white-space: nowrap;
    text-align: center;
}

#custom-schedule-table thead tr:first-child {
    background-color: #f3f3f3;
}
