<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>ImageViewer</title>

  <script th:src="@{/plugins/jquery/js/jquery.min.js}"></script>
  <script th:src="@{/plugins/jquery/js/jquery.Wheelzoom.js}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
      height: 100vh;
    }

    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
    }

    .swiper-slide img {
      display: block;
      height: 94%;
      margin: 1% auto;
    }
  </style>
</head>
<body>

<!-- Swiper -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" th:each="image, index : ${imageList}">
      <img class="cus_image" th:src="@{/store/image/download/{id}(id=${image.fileId})}" alt="">
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  $(document).ready(function () {
    let swiper;

    if (isMobileDevice()) {
      // 모바일 UI 초기화
      swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        allowTouchMove: true
      });
    } else {
      // 데스크탑 UI 초기화
      swiper = new Swiper(".mySwiper", {
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        allowTouchMove: false
      });
      $('.cus_image').wheelzoom();
    }
  });

  function isMobileDevice() {
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  }
</script>
</body>
</html>
