<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
        <th:block th:fragment="content">
            <!-- 개별 css-->
            <link rel="stylesheet" th:href="@{/css/page.css}">
            <link rel="stylesheet" th:href="@{/css/component/switch.css}">

            <!-- 개별 js-->
            <script th:src="@{/js/common/switch.js}"></script>

            <style>
                .readonly {
                    background-color: #dddddd;
                }
                .reservation_type_input {
                    width: 150px;
                    text-align: center;
                }
            </style>

            <div class="designPage">
                <form id="envForm">
                    <section class="section_wrap design_wrap">
                        <h2 class="title">디자인 노출 여부</h2>
                        <div class="option-group">
                            <h3 class="group-title">상의 디자인 on/off</h3>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">스타일</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketStyle" value="true" th:checked="${dto.jacketStyle}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">단추갯수</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketButtonCount" value="true" th:checked="${dto.jacketButtonCount}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">가슴포켓</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketChestPocket" value="true" th:checked="${dto.jacketChestPocket}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">어깨</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketShoulder" value="true" th:checked="${dto.jacketShoulder}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">앞주머니</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketFrontPocket" value="true" th:checked="${dto.jacketFrontPocket}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">패드(좌)</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch"><input type="checkbox" name="jacketLeftPad" value="true" th:checked="${dto.jacketLeftPad}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">패드(우)</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketRightPad" value="true" th:checked="${dto.jacketRightPad}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">뒷트임</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketBackSlit" value="true" th:checked="${dto.jacketBackSlit}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">소매단추</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketSleeveButton" value="true" th:checked="${dto.jacketSleeveButton}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">라펠너비</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketLapel" value="true" th:checked="${dto.jacketLapel}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">소매디자인</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketSleeve" value="true" th:checked="${dto.jacketSleeve}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">턱시도</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketTuxedo" value="true" th:checked="${dto.jacketTuxedo}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">(AMF)호시</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketAmf" value="true" th:checked="${dto.jacketAmf}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">라펠디자인</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketLapelQ" value="true" th:checked="${dto.jacketLapelQ}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">안감</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketLining" value="true" th:checked="${dto.jacketLining}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">원단무늬</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketCheckFabric" value="true" th:checked="${dto.jacketCheckFabric}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">추가옵션</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="jacketAddOption" value="true" th:checked="${dto.jacketAddOption}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper"></div>
                            </div>
                        </div>

                        <div class="option-group mt-30px">
                            <h3 class="group-title">하의 디자인 on/off</h3>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">주머니</span>
                                    <div class="switch_line">
                                        <span class="hidden_txt">숨김</span>
                                        <label class="real-switch">
                                            <input type="checkbox" name="pantsPocket" value="true" th:checked="${dto.pantsPocket}">
                                            <span class="real-slider"></span>
                                        </label>
                                        <span class="hidden_txt">보임</span>
                                    </div>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">원단무늬</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsCheckFabric" value="true" th:checked="${dto.pantsCheckFabric}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">벨트고리</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsBeltLoop" value="true" th:checked="${dto.pantsBeltLoop}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">비죠</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsFlap" value="true" th:checked="${dto.pantsFlap}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">비죠길이</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsFlapLength" value="true" th:checked="${dto.pantsFlapLength}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                            </div>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">밑단모양</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsHemShape" value="true" th:checked="${dto.pantsHemShape}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">밑단두께</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsHemThickness" value="true" th:checked="${dto.pantsHemThickness}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">추가옵션1</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsAddOption1" value="true" th:checked="${dto.pantsAddOption1}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">추가옵션2</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsAddOption2" value="true" th:checked="${dto.pantsAddOption2}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">추가옵션3</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="pantsAddOption3" value="true" th:checked="${dto.pantsAddOption3}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                            </div>
                        </div>

                        <div class="option-group mt-30px">
                            <h3 class="group-title">조끼 디자인 on/off</h3>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">앞주머니</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="vestFrontPocket" value="true" th:checked="${dto.vestFrontPocket}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">가슴포켓</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="vestChestPocket" value="true" th:checked="${dto.vestChestPocket}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">뒷판</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="vestBack" value="true" th:checked="${dto.vestBack}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">호시</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="vestAmf" value="true" th:checked="${dto.vestAmf}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">라펠</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="vestLapel" value="true" th:checked="${dto.vestLapel}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                            </div>
                        </div>

                        <div class="option-group mt-30px">
                            <h3 class="group-title">코트 디자인 on/off</h3>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">스타일</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatStyle" value="true" th:checked="${dto.coatStyle}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">단추갯수</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatButtonCount" value="true" th:checked="${dto.coatButtonCount}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">가슴포켓</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatChestPocket" value="true" th:checked="${dto.coatChestPocket}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">어깨</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatShoulder" value="true" th:checked="${dto.coatShoulder}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">앞주머니</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatFrontPocket" value="true" th:checked="${dto.coatFrontPocket}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">패드(좌)</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatLeftPad" value="true" th:checked="${dto.coatLeftPad}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                            </div>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">패드(우)</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatRightPad" value="true" th:checked="${dto.coatRightPad}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">뒷트임</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatBackSlit" value="true" th:checked="${dto.coatBackSlit}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">소매단추</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatSleeveButton" value="true" th:checked="${dto.coatSleeveButton}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">라펠너비</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatLapel" value="true" th:checked="${dto.coatLapel}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">소매디자인</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatSleeve" value="true" th:checked="${dto.coatSleeve}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">(AMF)호시</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatAmf" value="true" th:checked="${dto.coatAmf}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                            </div>
                            <div class="toggle-group">
                                <div class="toggle-wrapper">
                                    <span class="option-label">라펠디자인</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatLapelQ" value="true" th:checked="${dto.coatLapelQ}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">안감</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatLining" value="true" th:checked="${dto.coatLining}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">원단무늬</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatCheckFabric" value="true" th:checked="${dto.coatCheckFabric}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">추가옵션1</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatAddOption1" value="true" th:checked="${dto.coatAddOption1}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper">
                                    <span class="option-label">추가옵션2</span>
                                    <span class="hidden_txt">숨김</span>
                                    <label class="real-switch">
                                        <input type="checkbox" name="coatAddOption2" value="true" th:checked="${dto.coatAddOption2}">
                                        <span class="real-slider"></span>
                                    </label>
                                    <span class="hidden_txt">보임</span>
                                </div>
                                <div class="toggle-wrapper"></div>
                            </div>
                        </div>

                    </section>

                    <section class="section_wrap design_wrap mt-30px">
                        <div style="padding-bottom: 20px;">
                            <h2 class="title" style="display: inline;">항목별 색상 및 시간 설정</h2>
                            <span style="margin-left: 20px;">맞춤상담은 Counseling 목록에 표시될 항목으로 명칭 변경이 불가능합니다.</span>
                        </div>
                        <div class="type-config-wrap mb-20px">
                            <div class="type-config">
                                <input type="text" class="reservation_type_input readonly" value="맞춤상담" readonly>
                                <input type="color" th:field="${dto.typeColor1}">
                                <select th:field="${dto.typeTime1}">
                                    <option value="10">10분</option>
                                    <option value="20">20분</option>
                                    <option value="30">30분</option>
                                    <option value="40">40분</option>
                                    <option value="50">50분</option>
                                    <option value="60">60분</option>
                                    <option value="70">70분</option>
                                    <option value="80">80분</option>
                                    <option value="90">90분</option>
                                    <option value="100">100분</option>
                                    <option value="110">110분</option>
                                    <option value="120">120분</option>
                                </select>
                            </div>
                            <div class="type-config">
                                <input type="text" class="reservation_type_input" th:field="${dto.typeName2}" maxlength="8">
                                <input type="color" th:field="${dto.typeColor2}">
                                <select th:field="${dto.typeTime2}">
                                    <option value="10">10분</option>
                                    <option value="20">20분</option>
                                    <option value="30">30분</option>
                                    <option value="40">40분</option>
                                    <option value="50">50분</option>
                                    <option value="60">60분</option>
                                    <option value="70">70분</option>
                                    <option value="80">80분</option>
                                    <option value="90">90분</option>
                                    <option value="100">100분</option>
                                    <option value="110">110분</option>
                                    <option value="120">120분</option>
                                </select>
                            </div>
                            <div class="type-config">
                                <input type="text" class="reservation_type_input" th:field="${dto.typeName3}" maxlength="8">
                                <input type="color" th:field="${dto.typeColor3}">
                                <select th:field="${dto.typeTime3}">
                                    <option value="10">10분</option>
                                    <option value="20">20분</option>
                                    <option value="30">30분</option>
                                    <option value="40">40분</option>
                                    <option value="50">50분</option>
                                    <option value="60">60분</option>
                                    <option value="70">70분</option>
                                    <option value="80">80분</option>
                                    <option value="90">90분</option>
                                    <option value="100">100분</option>
                                    <option value="110">110분</option>
                                    <option value="120">120분</option>
                                </select>
                            </div>
                        </div>
                        <div class="type-config-wrap">
                            <div class="type-config">
                                <input type="text" class="reservation_type_input" th:field="${dto.typeName4}" maxlength="8">
                                <input type="color" th:field="${dto.typeColor4}">
                                <select th:field="${dto.typeTime4}">
                                    <option value="10">10분</option>
                                    <option value="20">20분</option>
                                    <option value="30">30분</option>
                                    <option value="40">40분</option>
                                    <option value="50">50분</option>
                                    <option value="60">60분</option>
                                    <option value="70">70분</option>
                                    <option value="80">80분</option>
                                    <option value="90">90분</option>
                                    <option value="100">100분</option>
                                    <option value="110">110분</option>
                                    <option value="120">120분</option>
                                </select>
                            </div>
                            <div class="type-config">
                                <input type="text" class="reservation_type_input" th:field="${dto.typeName5}" maxlength="8">
                                <input type="color" th:field="${dto.typeColor5}">
                                <select th:field="${dto.typeTime5}">
                                    <option value="10">10분</option>
                                    <option value="20">20분</option>
                                    <option value="30">30분</option>
                                    <option value="40">40분</option>
                                    <option value="50">50분</option>
                                    <option value="60">60분</option>
                                    <option value="70">70분</option>
                                    <option value="80">80분</option>
                                    <option value="90">90분</option>
                                    <option value="100">100분</option>
                                    <option value="110">110분</option>
                                    <option value="120">120분</option>
                                </select>
                            </div>
                            <div class="type-config">
                                <input type="text" class="reservation_type_input" th:field="${dto.typeName6}" maxlength="8">
                                <input type="color" th:field="${dto.typeColor6}">
                                <select th:field="${dto.typeTime6}">
                                    <option value="10">10분</option>
                                    <option value="20">20분</option>
                                    <option value="30">30분</option>
                                    <option value="40">40분</option>
                                    <option value="50">50분</option>
                                    <option value="60">60분</option>
                                    <option value="70">70분</option>
                                    <option value="80">80분</option>
                                    <option value="90">90분</option>
                                    <option value="100">100분</option>
                                    <option value="110">110분</option>
                                    <option value="120">120분</option>
                                </select>
                            </div>
                        </div>
                    </section>

                <div class="btn_wrap right">
                    <button type="button" class="btn_2 btnColor_1" id="saveButton">저장</button>
                    <button type="button" class="btn_2" id="cancelButton">취소</button>
                </div>
            </form>

            <script th:inline="javascript">
                $(document).on('click', '#saveButton', function () {
                    if (doubleClick.isDouble()) {
                        return false;
                    }

                    if (!confirm("환경설정을 저장하시겠습니까?")) {
                        doubleClick.initFlag(); // 사용자가 취소했을 때도 flag 초기화
                        return;
                    }

                    showLoadingImage();
                    callService(
                        "POST"
                        , "/setting/environment/update"
                        , JSON.stringify(convertFormToJSON($('#envForm')))
                        , function (response) {
                            alert(response.message);
                            if (response.success) {
                                location.reload();
                            }
                        }
                    );
                });

                $(document).on('click', '#cancelButton', function () {
                    location.href = '/';
                });

                $(document).ready(function (){
                    // 1) 페이지 로드 시 초기 상태 맞춰주기
                    $('.real-switch input[type="checkbox"]').each(function(){
                        const $wrapper = $(this).closest('.toggle-wrapper');
                        const $label = $wrapper.find('.option-label');

                        if ($(this).is(':checked')) {
                            $label.addClass('active');
                        } else {
                            $label.removeClass('active');
                        }
                    });

                    // 2) 체크박스 상태 변경될 때도 처리
                    $('.real-switch input[type="checkbox"]').on('change', function(){
                        const $wrapper = $(this).closest('.toggle-wrapper');
                        const $label = $wrapper.find('.option-label');

                        if ($(this).is(':checked')) {
                            $label.addClass('active');
                        } else {
                            $label.removeClass('active');
                        }
                    });

                })
            </script>
        </div>
    </th:block>
</th:block>
</html>
