<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 css-->
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">

<!-- 개별 css-->
<link rel="stylesheet" th:href="@{/css/page.css}">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="settingInfo_wrap">
            <h1 class="main_title">정보 수정을 원할 경우 관리자에게 문의하시기 바랍니다.</h1>
            <div class="section_wrap">
                <h2 class="title">매장 정보</h2>

                <div class="boxStyle_1">
                    <div class="line">
                        <div class="box other_box">
                            <h2 class="name">매장명</h2>
                            <div class="value" th:text="${item.storeName}"></div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">대표자명</h2>
                            <div class="value" th:text="${item.ceoName}"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section_wrap mt-30px">
                <h2 class="title">사업자 등록 정보</h2>
                <div class="boxStyle_1">
                    <div class="line mb-20px">
                        <div class="box other_box">
                            <h2 class="name">사업자명</h2>
                            <div class="value" th:text="${item.buyerCompanyName}"></div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">사업자등록번호</h2>
                            <div class="value" th:text="${@stringParser.addDashToBRN(item.businessRegistrationNumber)}"></div>
                        </div>
                    </div>
                    <div class="line mb-20px">
                        <div class="box other_box only-box">
                            <h2 class="name">주소</h2>
                            <div class="value" th:text="${item.address}"></div>
                        </div>
                    </div>
                    <div class="line mb-20px">
                        <div class="box other_box">
                            <h2 class="name">대표자명</h2>
                            <div class="value" th:text="${item.buyerCeoName}"></div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">업종</h2>
                            <div class="value" th:text="${item.buyerBusinessType}"></div>
                        </div>
                    </div>
                    <div class="line">
                        <div class="box other_box">
                            <h2 class="name">업태</h2>
                            <div class="value" th:text="${item.buyerBusinessItem}"></div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">이메일</h2>
                            <div class="value" th:text="${item.buyerEmail}"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </th:block>
</th:block>
</html>
