<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 개별 css-->
        <link rel="stylesheet" th:href="@{/css/page.css}">

        <!-- jquery-validation -->
        <script th:src="@{/plugins/jquery-validation/jquery.validate.min.js}"></script>
        <script th:src="@{/plugins/jquery-validation/additional-methods.min.js}"></script>
        <script th:src="@{/js/common/validator.js}"></script>

        <div class="section_wrap registerPage">
            <h2 class="title">컨설팅 업체 담당자 등록 <span class="description">* 항목은 필수 입력 항목입니다.</span></h2>
            <form id="dataForm">
                <input type="hidden" name="partnerId" th:value="${partnerId}">
                <div class="boxStyle_1">
                    <div class="line mb-20px">
                        <div class="box">
                            <h2 class="name">이름<span class="pointColor_1">*</span></h2>
                            <div class="value">
                                <input type="text" id="name" name="name" maxlength="30" placeholder="30자 이내로 입력">
                            </div>
                        </div>
                    </div>
                    <div class="line mb-20px">
                        <div class="box">
                            <h2 class="name">연락처<span class="pointColor_1">*</span></h2>
                            <div class="value">
                                <input inputmode="numeric" id="contact" name="contact" maxlength="12" placeholder="숫자만 입력">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn_wrap right">
                    <button type="button" id="registerButton" class="btn_2 btnColor_1">등록</button>
                    <button type="button" id="cancelButton" class="btn_2">취소</button>
                </div>
            </form>

            <script th:inline="javascript">
                $(function () {
                    callValidationFormService(
                        $('#dataForm')
                        , {
                            name: validationObject.consultingPartnerPic.rules
                            , contact: validationObject.consultingPartnerContact.rules
                        }
                        , {
                            name: validationObject.consultingPartnerPic.message
                            , contact: validationObject.consultingPartnerContact.message
                        }
                        , function (form) {
                            if (doubleClick.isDouble()) {
                                return false;
                            }

                            if (!confirm("담당자를 등록하시겠습니까?")) {
                                doubleClick.initFlag();
                                return;
                            }

                            showLoadingImage();

                            callService(
                                "POST"
                                , "/setting/partner/pic/register"
                                , JSON.stringify(convertFormToJSON(form))
                                , function (response) {
                                    alert(response.message);
                                    if (response.success) {
                                        location.replace(`/setting/partner/detail?partnerId=${getParamValue('partnerId')}`);
                                    }
                                }
                            );
                        }
                    );
                });

                $(document).on('click', '#cancelButton', function () {
                    location.href = `/setting/partner/detail?partnerId=${getParamValue('partnerId')}`;
                });

                $(document).on('click', '#registerButton', function () {
                    $('#dataForm').submit();
                });
            </script>
        </div>
    </th:block>
</th:block>
</html>
