<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/defaultLayout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!-- 개별 css-->
        <link rel="stylesheet" th:href="@{/css/page.css}">

        <div class="section_wrap fabric-4">
            <h2 class="title">고객검색</h2>
            <form action="" class="search_form">
                <div class="boxStyle_2 flex align-center">
                    <div class="line align-center">
                        <div class="box other_box">
                            <h2 class="name">고객명</h2>
                            <div class="value">
                                <input type="text" class="text">
                            </div>
                        </div>
                        <div class="box other_box">
                            <h2 class="name">연락처</h2>
                            <div class="value">
                                <input type="text" class="text">
                            </div>
                        </div>
                        <button class="boxImg">
                            <span class="search"></span>
                        </button>
                    </div>
                    <div class="btn-style-2">
                        <a th:href="@{/counseling/customer/register}" class="w-180 btnColor_3 btn_3">신규고객등록</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="section_wrap mt-30px">
            <h2 class="title">신규고객정보</h2>
            <form action="" class="registerInfoForm">
                <div class="boxStyle_2">
                    <div class="flex">
                        <div class="line">
                            <div class="box other_box">
                                <h2 class="name">고객명</h2>
                                <div class="value">
                                    <input type="text" class="text">
                                </div>
                            </div>
                            <div class="box other_box">
                                <h2 class="name">연락처</h2>
                                <div class="value">
                                    <input type="text" class="text">
                                </div>
                            </div>
                        </div>
                        <div class="line">
                            <div class="box other_box">
                                <h2 class="name">고객명</h2>
                                <div class="value">
                                    <input type="text" class="text">
                                </div>
                            </div>
                            <div class="box other_box">
                                <h2 class="name">연락처</h2>
                                <div class="value">
                                    <input type="text" class="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex mt-20px">
                        <div class="line line-2">
                            <div class="box other_box">
                                <h2 class="name">촬영일</h2>
                                <div class="value input-with-icon">
                                    <input type="text" class="text w_100 datepicker flatpickr-input">
                                </div>
                            </div>
                            <div class="box other_box">
                                <h2 class="name">촬영장소</h2>
                                <div class="value">
                                    <input type="text" class="text w_100 ">
                                </div>
                            </div>
                        </div>
                        <div class="line line-2">
                            <div class="box other_box">
                                <h2 class="name">본식일</h2>
                                <div class="value input-with-icon">
                                    <input type="text" class="text w_100 datepicker flatpickr-input">
                                </div>
                            </div>
                            <div class="box other_box">
                                <h2 class="name">예식장소</h2>
                                <div class="value">
                                    <input type="text" class="text w_100 ">
                                </div>
                            </div>
                        </div>
                        <div class="line line-2">
                            <div class="box other_box">
                                <h2 class="name">예약담당</h2>
                                <select class="value">
                                    <option value="">--선택--</option>
                                </select>
                                <h2 class="name">상담담당</h2>
                                <select class="value">
                                    <option value="">--선택--</option>
                                </select>
                            </div>
                            <div class="box other_box">
                                <div class="one-line consultReserve-line">
                                    <div class="half-line">
                                        <h4 class="inner_title">상담예약</h4>
                                        <div class="input-with-icon">
                                            <input type="text" name="consultingDate" id="consultingDate" class="datepicker reservationDatetime flatpickr-input" placeholder="날짜선택" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="half-line">
                                        <select class="reservationDatetime" name="consultingHour" id="consultingHour">
                                            <option value="">선택</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                        </select>
                                        시&nbsp;
                                        <select class="reservationDatetime" name="consultingMinute" id="consultingMinute">
                                            <option value="">선택</option>
                                            <option value="00">0</option>
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                        분
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex mt-20px textarea-line">
                        <div class="line line-2">
                            <div class="box other_box">
                                <h2 class="name">특이사항</h2>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="btn-style-2">
                            <button class="w-180 btnColor_3 btn_3">등록하기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
</th:block>

</html>
